@use "functions";

.hn {
	color: functions.hsl(var(--contrast-inverse));
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;

	&:first-child {
		margin-top: 0;
	}
}
