/* ==================== */
/* == Alerts
/* ==================== */

[role="alert"] {
	font-weight: bold;
	margin: $gutter $gutter / 2;
	padding: 0 $gutter;
}

@each $alert in alert, success, accent, dominant, secondary {
	.bg-#{$alert} {
		background-color: palette( #{$alert} );
		border: 1px solid palette( #{$alert}, dark );
		box-shadow: rem( 4 ) rem( 4 ) 0 0 palette( #{$alert}, dark );
		color: palette( #{$alert}, contrast );
		text-shadow: 2px 2px palette( #{$alert}, dark );
	}
}