/* ==================== */
/* == Alerts
/* ==================== */

[role="alert"] {
  border: 1px solid var(--alert-color);
  box-shadow: em( 4 ) em( 4 ) 0 0 var(--alert-color);
	font-weight: bold;
	margin: $gutter $gutter / 2;
	padding: 0 $gutter;
}

@each $alert in alert, success, accent, default, secondary {
	.bg-#{$alert}[role="alert"] {
    --alert-color: var(--#{$alert}-dark);
	}
}
