/* ==================== */
/* == Cards
/* ==================== */

[class*="card"] {
  background: palette( default, contrast );
  border: 1px solid palette( muted, light );
  border-radius: em( 4 );
  color: palette( default );
  display: block;
  overflow: hidden;

  > img {
    border-radius: em( 3 ) em( 3 ) 0 0;
  }

  > *:not(img):not([role="img"]) {
    margin: 0 0 $gutter;
    padding: 0 $gutter;
  }

  > h3 {
    color: inherit;
    display: inline-block;
    font-size: em( 26 );
    line-height: 1.2;
    margin: $gutter 0;
  }
}


/* -------------------- */
/* -- Variants
/* -------------------- */

@each $variant in alert, success, accent, dominant, secondary {
	.card-#{$variant} {
		background: palette( #{$variant} );
    border-color: palette( #{$variant}, dark );
		color: palette( #{$variant}, contrast );
	}
}
