/* ==================== */
/* == Charts
/* ==================== */

[class*="charts"] {
  [role="presentation"] {
    display: none;
  }

  abbr[title] {
    border-bottom: 0;
    font-size: small;
    font-weight: normal;
    text-transform: none;
  }
}

.table-charts {
  caption-side: bottom;
  empty-cells: hide;
  margin: 1.5em auto;
  overflow: hidden;
  padding: 1em;

  > caption:first-child {
    background: inherit;
    font-style: normal;
    padding: $gutter 0;
  }
}

table:not(.table-charts) .sr-only {
  clip: auto !important;
	clip-path: none !important;
	height: auto !important;
	overflow: visible !important;
  position: static !important;
	width: auto !important;
	white-space: normal !important;
}

@media screen and (min-width: em(480)) {
  .table-charts {
    border-collapse: separate;
    border-spacing: 0;

    th,
    td {
      border: 0;
      padding: 0;

      &:empty {
        display: none;
      }
    }

    // <table> based charts
    @import "charts-bar";
    @import "charts-pie";
    @import "charts-line";
  }
}

// <dl> based charts
@import "charts-radar";
