/* ==================== */
/* == Charts
/* ==================== */

[class*="charts"] {
  dt {
    margin: initial;
  }

  dd {
    margin: initial;

    &::before {
      display: none;
    }

    span {
      font-weight: bold;
    }

    abbr[title] {
      border-bottom: 0;
      font-size: small;
      font-weight: normal;
      text-transform: none;
    }
  }
}

@import "charts-bar";
@import "charts-pie";
@import "charts-line";
@import "charts-radar";
