/* ==================== */
/* == Radar Charts
/* ==================== */

.charts-radar {
  --size: calc( #{$width / 4} / var(--scale) );
  background-image:
    repeating-radial-gradient(
      circle at 50%,
      rgba(0, 0, 0, .2),
      rgba(0, 0, 0, .2) 2px,
      transparent 2px,
      transparent calc(var(--size) * var(--step))
    ),
    repeating-radial-gradient(
      circle at 50%,
      rgba(0, 0, 0, .1),
      rgba(0, 0, 0, .1) 2px,
      transparent 2px,
      transparent var(--size)
    );
  border: 2px solid;
  border-radius: 50%;
  height: $width / 2;
  margin: 0 auto;
  width: $width / 2;

  + figcaption {
    text-align: center;
  }
}
