/* ==================== */
/* == Deck
/* ==================== */

.deck {
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: repeat(auto-fill, minmax(#{rem( 180 )}, 1fr));
  grid-auto-flow: dense;

  [class*="card"] {
    border: 1px solid;
    flex-flow: column nowrap;
    height: calc(#{rem( 180 )} * 1.5);
    justify-content: space-between;
    min-width: unset;
    outline: 1px dotted;
    outline-offset: $gutter * -1.75;
    padding: $gutter;
    text-align: center;
    width: rem( 180 );
    z-index: 0;

    figure {
      width: 100%;
    }

    figcaption {
      margin: 0 auto;
      max-width: calc(100% - #{$gutter * 2.5});
      padding-bottom: 0;

      p {
        hyphens: none;
        line-height: 1.2;
      }
    }

    [class*="--l"] {
      border: $gutter / 4 solid currentColor;
      box-sizing: content-box;
      height: $gutter * 2;
      justify-content: center;
      margin: 0 auto 0 0;
      width: $gutter * 2;
      z-index: 2;
    }

    &::after {
      content: "";
      display: flex;
      height: $gutter * 2.5;
      width: $gutter * 2.5;
    }
  }

  /**
   * @note Using element() function
   *
   * @note Based on Vincent De Oliveira's work:
   * @link http://iamvdo.me/blog/la-fonction-element-en-css
   * @author Vincent De Oliveira
   */
  @supports(background: -moz-element(var(--card, 1))) {
    [class*="card"]::after {
      background: -moz-element(var(--card, 1)) no-repeat bottom right;
      margin-left: auto;
      position: relative;
      z-index: 2;
    }
  }
}
