/* ==================== */
/* == Fly-out
 *
 * @note The whole thing needs :focus-within support
 * @link https://caniuse.com/#search=%3Afocus-within
 **
 * 1. clip-path is used to visually hide subnav
 * @link https://developer.mozilla.org/fr/docs/Web/CSS/clip-path
 **
 * 2. Using a delay to improve unprecise mouse navigation
 * @link https://www.w3.org/WAI/tutorials/menus/flyout/#mouse-users
 * @link https://developer.mozilla.org/fr/docs/Web/CSS/transition-delay
/* ==================== */

.fly-out {
  &,
  & ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    display: block;
    padding: $gutter / 2 $gutter * 2 $gutter / 2 $gutter;
    text-decoration: none;
    white-space: nowrap;
    
    &:hover,
    &:focus {
      background: palette( default, secondary );
      color: palette( dominant, dark );
    }       
  }
  
  > li {
    background: palette( default, contrast );
    position: relative;
    z-index: 1;
    
    + li {
      margin-left: $gutter;
    }
    
    a:last-child {
      padding-right: $gutter;
    }
    
    > a:hover,
    > a:focus {
      background: none;
    }
  }
  
  ul {
    align-items: flex-start;
    background: inherit;
    clip-path: circle(rem( 18 ) at 90% rem( 20 )); /* 1 */
    flex-direction: column;
    min-width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: clip-path .3s ease-in .5s; /* 2 */
    will-change: clip-path;
    z-index: -1;
    
    &::before {
      align-self: flex-end;
      color: palette( secondary, dark );
      content: "↓";
      padding: $gutter / 2;
      transition: transform .3s ease-in .5s;
      will-change: transform;
    }
    
    li {
      min-width: inherit;
    }
    
    a {
      padding: $gutter / 2 $gutter;
      pointer-events: auto;
    }
  }
  
  li:hover > ul,
  li > a:hover + ul,
  li > a:focus + ul,
  li:focus-within > ul {
    box-shadow: rem( 4 ) rem( 4 ) 0 0 transparentize( palette( default ), .8 );
    clip-path: circle(150% at top right);
    outline: 1px solid palette( muted, light );
    transition: clip-path .3s ease-out;
    
    &::before {
      color: palette( dominant, dark );
      transform: rotateX( .5turn );
      transition: transform .3s ease-out;
    }
  }
}