/* ==================== */
/* == Footnotes
/* ==================== */
/**
 * Footnotes
 ** 1. Incrementing counter
 ** 2. Removes fake underline

 */
a[id^="footnote-"][aria-describedby] {
  counter-increment: footnotes; /* 1 */
  color: inherit;               /* 2 */
  cursor: default;              /* 2 */
  outline: none;                /* 2 */

  @include underline-reset();   /* 2 */

  &::after {
    content: "[" counter(footnotes) "]";
    vertical-align: super;
    font-size: rem( 14 );
    font-weight: 400;
    margin-left: 2px;

    @include underline();
    color: palette( tertiary );
    cursor: pointer;
  }
}

footer[id="footnotes"] {
  max-width: 75ch;
}

/**
 * Adding an effect when receiving focus
 */
@keyframes footnotes {
  from {
    color: palette( success );
  } to {
    color: palette( primary );
  }
}

[role="note"]:target {
  animation: footnotes 1600ms ease-in;
}
