/* ==================== */
/* == Footnotes
 *
 * @note
 * 1. Incrementing counter
/* ==================== */

a[id^="footnote-"][aria-describedby] {
  counter-increment: footnotes; /* 1 */
  text-decoration: none;

  &::after {
    content: "[" counter(footnotes) "]";
    vertical-align: super;
    font-size: em( 14 );
    font-weight: 400;
    margin-left: 2px;
    color: palette( accent );
    cursor: pointer;
  }
}

footer[id="footnotes"] {
  max-width: 75ch;
}

/**
 * Adding an effect when receiving focus
 */
@keyframes footnotes {
  from {
    color: palette( secondary );
  }
}

[role="note"]:target {
  animation: footnotes .5s ease-in;
}
