/* ==================== */
/* == Notes
/* ==================== */

.note {
  background: hsl(var(--contrast));
  border-left: $gutter solid;
  color: hsl(var(--default));
  margin: $gutter 0;
  padding: $gutter / 2 $gutter $gutter / 4;

  *:not(pre) {
    color: inherit;
  }

  &.wip {
    color: hsl(var(--alert));
  }
}
