/* ==================== */
/* == Pagination
/* ==================== */

[id="pagination"] {
  li {
    &:first-child a::before {
      content: "← ";
      speak: none;
    }
    
    &:last-child a::after {
      content: " →";
      speak: none;
    }
  }
  
  a {    
    text-decoration: none;
    
    &:hover,
    &:focus {
      background: var(--contrast);
    }
  }
  
  [tabindex="-1"] {
    color: var(--muted);
    pointer-events: none;
  }
  
  [aria-current] {
    background: var(--accent);
    color: var(--contrast);
    pointer-events: none;
  }
}