/* ==================== */
/* == Pagination
/* ==================== */

[id="pagination"] {
  li {
    &:first-child a::before {
      content: "← ";
      speak: none;
    }
    
    &:last-child a::after {
      content: " →";
      speak: none;
    }
  }
  
  a {    
    text-decoration: none;
    
    &:hover,
    &:focus {
      background: palette( default, contrast );
    }
  }
  
  [tabindex="-1"] {
    color: palette( muted );
    pointer-events: none;
  }
  
  [aria-current] {
    background: palette( accent );
    color: palette( accent, contrast );
    pointer-events: none;
  }
}