/* ==================== */
/* == Palette
/* ==================== */

.palette {
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: repeat(auto-fill, minmax(#{rem( 180 )}, 1fr));
  grid-auto-flow: dense;

  figure {
    min-width: 0;
    width: 100%;
  }

  [class*="grid"] {
    grid-gap: $gutter;
  }
}
