/* ==================== */
/* == Progress
 *
 * @note
 * 1. Clipped value coming from:
 ** @see https://www.ffoodd.fr/le-web-en-kit/
 ** @see http://dabblet.com/gist/08fddf3666c39ebc62ca
 ** @author Gaël Poupard
/* ==================== */

.progress {
  animation: progression 2s linear infinite;
  background-image: linear-gradient(
    to right,
    palette( accent, light ) 20%,
    palette( accent, dark )  40%,
    palette( accent, light ) 60%,
    palette( accent, dark )  80%,
    palette( accent, light ) 100%
  );
  background-size: 200% auto;
  display: inline-block;
  -webkit-text-fill-color: transparent; /* 1 */
  -webkit-background-clip: text;        /* 1 */
  font-weight: bold;
}

@keyframes progression {
  to {
    background-position: 200% center;
  }
}

@media screen and (-ms-high-contrast: active) {
  .progress {
    color: windowText;
  }
}
