/* ==================== */
/* == Switch
/* ==================== */

button[role="switch"] {
  background-color: hsla(var(--default-light), .1);
  border-radius: rem( 22 ) !important;
  box-sizing: content-box;
  color: hsl(var(--default));
  height: rem( 44 );
  line-height: rem( 44 );
  outline-color: transparent;
  padding: 0 $gutter * 3;
  transition: all .3s var(--enter);
  width: rem( 76 );
  will-change: background-color;

  &::before {
    background: currentColor;
    border-radius: rem( 22 );
    content: "";
    position: absolute;
    height: rem( 38 );
    left: rem( 4 );
    top: rem( 4 );
    transform: none;
    transition: transform .3s var(--enter) 0s;
    width: rem( 38 );
    will-change: transform;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: hsla(var(--default-light), .075);
    color: hsl(var(--default-dark));
  }

  &[aria-checked="true"] {
    background-color: hsla(var(--success-light), .25);

    &::before {
      background: hsl(var(--success-dark));
      transform: translateX(#{rem( 78 ) + $gutter * 3});
    }

    &:focus {
      box-shadow: 0 0 0 rem( 2 ) hsla(var(--success-dark), .25);
    }
  }

  > *:first-child,
  &[aria-checked="true"] > *:last-child {
    display: none;
  }

  &[aria-checked="true"] > *:first-child {
    display: block;
  }
}
