/* ==================== */
/* == Switch
/* ==================== */

button[role="switch"] {
  background-color: transparentize( palette( dominant, light ), .9 );
  border-radius: rem( 22 ) !important;
  box-sizing: content-box;
  color: palette( dominant );
  height: rem( 44 );
  line-height: rem( 44 );
  outline-color: transparent;
  padding: 0 $gutter * 3;
  transition: all .3s map-get( $timing-functions, 'enter' );
  width: rem( 76 );
  will-change: background-color;

  &::before {
    background: palette( default, contrast );
    border-radius: rem( 22 );
    content: "";
    position: absolute;
    height: rem( 38 );
    left: rem( 4 );
    top: rem( 4 );
    transform: none;
    transition: transform .3s map-get( $timing-functions, 'enter' ) 0s;
    width: rem( 38 );
    will-change: transform;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: transparentize( palette( dominant, light ), .925 );
    color: palette( dominant, dark );
  }

  &[aria-checked="true"] {
    background-color: transparentize( palette( success, light ), .75 );

    &::before {
      background: palette( success, dark );
      transform: translateX(#{rem( 78 ) + $gutter * 3});
    }

    &:focus {
      box-shadow: 0 0 0 rem( 2 ) transparentize( palette( success, dark ), .75 );
    }
  }

  > *:first-child,
  &[aria-checked="true"] > *:last-child {
    display: none;
  }

  &[aria-checked="true"] > *:first-child {
    display: block;
  }
}

@media screen and (-ms-high-contrast: active) {
  button[role="switch"] {
    background-color: buttonFace;
    border: 1px solid currentColor !important;
    color: buttonText;

    > span {
      background-color: inherit;
    }

    &::before {
      background: currentColor;
    }

    @supports (--css: var(--iables)) {
      button[role="switch"][aria-checked="true"] {
        background-color: highlight;
        color: highlightText;
      }
    }
  }
}
