{% extends "index.html" %}

{% block meta %}
  <title>sseeeedd — Composants</title>
  <meta property="og:url" content="https://ffoodd.github.io/sseeeedd/composants.html">
  <meta property="og:title" content="sseeeedd — Composants">
  <meta property="og:type" content="article">
  <meta property="og:description" 
        name="description" content="Une graîne pour cultiver son front-end">
  <meta name="twitter:card" content="summary">
{% endblock %}

{% block navigation %}
  <ul class="fly-out">
    <li><a href="./index.html">Accueil</a></li>
    <li><a href="./elements.html">Éléments</a></li>
    <li>
      <button type="button">Groupes</button>
      <ul>
        <li><a href="./groupes.html#messages">Messages</a></li>
        <li><a href="./groupes.html#cards">Cartes</a></li>
        <li><a href="./groupes.html#panels">Panneaux</a></li>
        <li><a href="./groupes.html#navigation">Navigation</a></li>
        <li><a href="./groupes.html#codeblocks">Blocs de code</a></li>
      </ul>
    </li>
    <li><a aria-current="page">Composants</a></li>
    <li><a href="./graphiques.html">Graphiques</a></li>
  </ul>
{% endblock %}

{% block main %}
  <h1>Composants</h1>

  <p>Les composants riches n’ont pas besoin d’être ré-inventés&nbsp;!</p>

  <h2>Fenêtre de dialogue</h2>

  <p>Pour les fenêtres de dialogues, nous utilisons <a href="https://github.com/edenspiekermann/a11y-dialog" hreflang="en" lang="en">a11y-dialog</a>.</p>
  <p>
    <button type="button" data-a11y-dialog-show="dialog">Afficher la fenêtre de dialogue</button>
  </p>

  <h2>Boîtes à onglets</h2>

  <p>
    Les boîtes à onglets reposent sur <a href="https://van11y.net/accessible-tab-panel/" hreflang="en">Van11y</a>
    par l’excellent <a href="https://www.nicolas-hoffmann.net/">Nicolas Hoffmann</a>.
  </p>

  <div class="js-tabs">
    <ul class="js-tablist list-inline no-padding" data-existing-hx="h3">
       <li class="js-tablist__item">
         <a href="#tab-1" class="js-tablist__link">Onglet №1</a>
       </li>
       <li class="js-tablist__item">
         <a href="#tab-2" class="js-tablist__link">Onglet №2</a>
       </li>
    </ul>
    <div id="tab-1" class="js-tabcontent">
      <h3>Un loquace cicérone</h3>
      <p>
        Ces cars sont traînés par une locomotive électrique, avec accumulateurs d’une capacité de deux cents ampères-ohms,
        et leur vitesse atteint de quinze à dix-huit kilomètres.
      </p>
    </div>
    <div id="tab-2" class="js-tabcontent">
      <h3>Le Quatuor Concertant déconcerté</h3>
      <ol>
        <li>Aux îles de Cook</li>
        <li>D’îles en îles</li>
        <li>Concert à la cour</li>
        <li>Ultimatum britannique</li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="js/script.min.js" async></script>
  <script src="js/a11y-dialog.min.js"></script>
  <script src="js/van11y-accessible-tab-panel-aria.min.js"></script>
  <script src="js/prism.min.js"></script>
{% endblock %}

{% block modal %}
  {% include 'includes/_dialog.html' %}
{% endblock %}
