{% extends "index.html" %}

{% block meta %}
  <title>sseeeedd — Graphiques</title>
  <meta property="og:url" content="https://ffoodd.github.io/sseeeedd/graphiques.html">
  <meta property="og:title" content="sseeeedd — Graphiques">
  <meta property="og:type" content="article">
  <meta property="og:description"
        name="description" content="Une graîne pour cultiver son front-end">
  <meta name="twitter:card" content="summary">
{% endblock %}

{% block navigation %}
  <ul class="fly-out">
    <li><a href="./index.html">Accueil</a></li>
    <li><a href="./elements.html">Éléments</a></li>
    <li>
      <button type="button">Groupes</button>
      <ul>
        <li><a href="./groupes.html#messages">Messages</a></li>
        <li><a href="./groupes.html#cards">Cartes</a></li>
        <li><a href="./groupes.html#panels">Panneaux</a></li>
        <li><a href="./groupes.html#navigation">Navigation</a></li>
        <li><a href="./groupes.html#codeblocks">Blocs de code</a></li>
        <li><a href="./groupes.html#dl">Définitions</a></li>
      </ul>
    </li>
    <li><a href="./composants.html">Composants</a></li>
    <li><a aria-current="page">Graphiques</a></li>
    <li><a href="./jeu-de-cartes.html">Jeu de cartes</a></li>
  </ul>
{% endblock %}

{% block main %}
  <h1>Graphiques</h1>

  <p>
    Les différentes versions de graphiques présentées pour le moment reposent uniquement sur un balisage sémantique
    —&nbsp;<code>&lt;table&gt;</code> ou <code>&lt;dl&gt;</code>&nbsp;— et une tartine de <strong>variables CSS portées par les balises</strong>.
    Aucun JavaScript n’est requis, et les styles proposent une
    <strong>amélioration progressive</strong> selon les capacités de votre navigateur.
  </p>

  <div class="note">
    <h2 class="h4"><code>display</code> et sémantique</h2>
    <p>
      <cite>Adrian Roselli</cite> explique que jouer avec le <code>display</code> d’un élément <code>&lt;table&gt;</code> ou <code>&lt;dl&gt;</code>
      met en péril sa sémantique. Cette dernière est donc «&nbsp;verrouillée&nbsp;» à l’aide des rôles
      <abbr lang="en" title="Accessible Rich Internet Application">aria</abbr> dédiés —&nbsp;comme il l’explique
      <a href="http://adrianroselli.com/2018/05/functions-to-add-aria-to-tables-and-lists.html" hreflang="en">dans un article détaillé</a>.
    </p>
  </div>

  <h2>Graphique en barre</h2>

  <p>
    Ce type de graphique sert à représenter <strong>des données à une dimension</strong>
    (dans notre exemple, une ligne de temps).
    Il repose sur les <strong>grilles et les variables CSS</strong>,
    technique inspirée d’<a href="https://css-tricks.com/css-charts-grid-custom-properties/" hreflang="en">un article de <cite>Miriam Suzanne</cite> sur <abbr lang="en" title="Cascading StyleSheet">CSS</abbr> Tricks</a>
    légèrement agrémentée. Pour vous en servir, c’est simple&nbsp;:
  </p>

  <ol>
    <li>
      Sur le <strong>tableau</strong>, une variable <var>--scale</var> permet de définir la valeur maximale du graphique,
      afin d’en déterminer l’échelle. Concrètement, une grille va être générée avec&nbsp;:
      <ul>
        <li>la première colonne pour les entêtes <code>&lt;th&gt;</code> arbitrairement fixée à <code>12.5em</code>&nbsp;;</li>
        <li>puis la fonction CSS <code>repeat()</code> crée une colonne par unité de l’échelle —&nbsp;dans l’exemple, 3000 colonnes&nbsp;;</li>
        <li>enfin une dernière colonne mesurant <code>10ch</code>, soit l’espace suffisant pour dix lettres.</li>
      </ul>
    </li>
    <li>
      <strong>Sur chaque cellule</strong> <code>&lt;td&gt;</code>, une variable <var>--value</var> permet de la placer sur la grille,
      appliquée à <code>grid-column-end</code>.
      De plus grâce à de savants calculs reposant sur cette valeur, le dégradé en arrière-plan est dimensionné et positionné de façon à
      refléter la proportion représentée par cette valeur sur l’échelle donnée (du vert pour presque rien au rouge pour presque tout).
    </li>
    <li>
      <strong>Dans chaque cellule</strong>, le contenu doit reprendre la valeur dans un élément <code>&lt;span&gt;</code> et une unité, éventuellement
      balisée avec <code>&lt;abbr&gt;</code> (et <code>aria-label</code> pour suppléer <code>title</code>) si un intitulé peut être explicité pour l’unité.
      Cette valeur est poussée à droite de la grille, et son texte
      sert de masque pour le dégradé en arrière-plan —&nbsp;lui permettant d’être de la couleur correspondante à la fin du dégradé pour la position donnée.
    </li>
  </ol>

  {% import 'macros/_table-bar.html' as table %}

  <table class="table-charts bar" style="--scale: 3000">
    <caption>Temps de chargement pour <a href="https://www.ffoodd.fr" target="_blank" rel="noopener noreferrer">ffoodd.fr</a></caption>
    <thead class="sr-only">
      <tr>
        <td></td>
        <th scope="col">Temps de chargement cumulé</th>
      </tr>
    </thead>
    <tbody>
      {{ table.bar('Temps : backend', '4', 'ms', 'Milliseconde', 'table') }}
      {{ table.bar('Temps : Frontend', '96', 'ms', 'Milliseconde', 'table') }}
      {{ table.bar('Délai : premier octet', '102', 'ms', 'Milliseconde', 'table') }}
      {{ table.bar('Délai : dernier octet', '129', 'ms', 'Milliseconde', 'table') }}
      {{ table.bar('Délai : première image', '188', 'ms', 'Milliseconde', 'table') }}
      {{ table.bar('Délai : premier CSS', '194', 'ms', 'Milliseconde', 'table') }}
      {{ table.bar('Délai : premier JS', '326', 'ms', 'Milliseconde', 'table') }}
      {{ table.bar('DOM Interactif', '836', 'ms', 'Milliseconde', 'table') }}
      {{ table.bar('Chargement du DOM', '836', 'ms', 'Milliseconde', 'table') }}
      {{ table.bar('DOM complet', '2561', 'ms', 'Milliseconde', 'table') }}
      {{ table.bar('Trafic HTTP terminé', '2980', 'ms', 'Milliseconde', 'table') }}
    </tbody>
  </table>

  <div class="note">
    <h3 class="h4">Motifs</h3>
    <p>
      Pour distinguer les différentes zones autrement que par la couleur,
      un motif <abbr lang="en" title="Scalable Vector Graphics">svg</abbr>
      est appliqué en <abbr lang="en" title="cascading StyleSheet">css</abbr>.
      Vous en trouverez quelques-uns sur le site <a href="http://www.heropatterns.com/" hreflang="en" lang="en">Hero Patterns</a>.
    </p>
  </div>

  <h3>Graphique en chute d’eau</h3>

  <p>
    Le principe est le même pour cette variante, à un détail près&nbsp;: on gère également <strong>le point départ</strong> pour chaque mesure
    —&nbsp;qui est, très simplement, la valeur du point précédent…
    Il faut cependant passer toutes les valeurs en tant que variables sur le parent <code>&lt;table&gt;</code>.
  </p>

  <table class="table-charts bar waterfall" style="--scale: 3000; --1: 4; --2: 96; --3: 102; --4: 129; --5: 188; --6: 194; --7: 326; --8: 836; --9: 836; --10: 2561; --11: 2980;">
    <caption>Temps de chargement pour <a href="https://www.ffoodd.fr" target="_blank" rel="noopener noreferrer">ffoodd.fr</a></caption>
    <thead class="sr-only">
      <tr>
        <td></td>
        <th scope="col">Temps de chargement cumulé</th>
      </tr>
    </thead>
    <tbody>
      {{ table.bar('Temps : backend', '4', 'ms', 'Milliseconde', 'waterfall') }}
      {{ table.bar('Temps : Frontend', '96', 'ms', 'Milliseconde', 'waterfall') }}
      {{ table.bar('Délai : premier octet', '102', 'ms', 'Milliseconde', 'waterfall') }}
      {{ table.bar('Délai : dernier octet', '129', 'ms', 'Milliseconde', 'waterfall') }}
      {{ table.bar('Délai : première image', '188', 'ms', 'Milliseconde', 'waterfall') }}
      {{ table.bar('Délai : premier CSS', '194', 'ms', 'Milliseconde', 'waterfall') }}
      {{ table.bar('Délai : premier JS', '326', 'ms', 'Milliseconde', 'waterfall') }}
      {{ table.bar('DOM Interactif', '836', 'ms', 'Milliseconde', 'waterfall') }}
      {{ table.bar('Chargement du DOM', '836', 'ms', 'Milliseconde', 'waterfall') }}
      {{ table.bar('DOM complet', '2561', 'ms', 'Milliseconde', 'waterfall') }}
      {{ table.bar('Trafic HTTP terminé', '2980', 'ms', 'Milliseconde', 'waterfall') }}
    </tbody>
  </table>

  <h2>Graphique linéaire</h2>

  <h3>Graphique de surface</h3>

  <p>
    Ce graphique repose sur <strong>les variables CSS, les grilles</strong> et <code>clip-path</code>.
    Cette dernière propriété est la plus importante.
  </p>

  <ol>
    <li>
      Sur le <strong>tableau</strong>, toutes les données importantes sont présentes&nbsp;:
      <ul>
        <li>
          <var>--y</var> définit l’échelle des <strong>ordonnées</strong>, utilisée pour indiquer l’échelle en arrière-plan mais aussi placer
          les points sur la courbe&nbsp;;
        </li>
        <li><var>--x</var> correspond à l’échelle des <strong>abscisses</strong>&nbsp;;</li>
        <li>puis <var>--1</var>, <var>--2</var>… correspondent à chaque point, avec leur valeur respective.</li>
      </ul>
    </li>
    <li>La variable <var>--x</var> sert —&nbsp;à l’instar du graphique en barre&nbsp;— à générer les colonnes de la grille automatiquement.</li>
    <li>
      Pour chaque point placé sur <code>&lt;table&gt;</code>, une position est définie au sein de la fonction <code>polygon()</code> de <code>clip-path</code>.
      Étant donné que cette fonction accepte <strong>deux valeurs en pourcentage pour chaque point</strong>, la méthode est relativement simple.
    </li>
    <li>
      Tout le reste n’est que décoration&nbsp;:
      <ul>
        <li>un arrière-plan dégradé pour représenter la surface pleine&nbsp;;</li>
        <li>un <code>repeating-linear-gradient()</code> pour représenter l’échelle verticale&nbsp;;</li>
        <li>
          et des interactions au survol pour mettre en exergue la valeur survolée&nbsp;:
          sa colonne à l’aide d’un pseudo-élément —&nbsp;positionné à l’aide de de savants calculs&nbsp;—
          et <code>mix-blend-mode</code> pour un effet waouh.
        </li>
      </ul>
    </li>
  </ol>

  <p>
    La seule nuance à apporter dans ce cas est l’ajout de <code>border-collapse: separate;</code> sur le tableau,
    sans quoi il nous est impossible de lui appliquer un <code>padding-top</code> —&nbsp;qui sert d’espace réservé
    pour le graphique.
  </p>

  {% import 'macros/_table-line.html' as table %}

  <table class="table-charts line" style="--y: 32; --x: 12; --1: 8; --2: 6; --3: 9; --4: 12; --5: 15; --6: 21; --7: 24; --8: 25; --9: 22; --10: 19; --11: 14; --12: 9;">
    <caption>Température mensuelle moyenne en 2017</caption>
    <thead>
      <tr>
        <th scope="row" class="sr-only">Mois</th>
        <th scope="col">Jan.</th>
        <th scope="col">Fév.</th>
        <th scope="col">Mars</th>
        <th scope="col">Avr.</th>
        <th scope="col">Mai</th>
        <th scope="col">Juin</th>
        <th scope="col">Juil.</th>
        <th scope="col">Août</th>
        <th scope="col">Sep.</th>
        <th scope="col">Oct.</th>
        <th scope="col">Nov.</th>
        <th scope="col">Déc.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="sr-only">Température</th>
        {{ table.line('8', '°C', 'Degré Celsius') }}
        {{ table.line('6', '°C', 'Degré Celsius') }}
        {{ table.line('9', '°C', 'Degré Celsius') }}
        {{ table.line('12', '°C', 'Degré Celsius') }}
        {{ table.line('15', '°C', 'Degré Celsius') }}
        {{ table.line('21', '°C', 'Degré Celsius') }}
        {{ table.line('24', '°C', 'Degré Celsius') }}
        {{ table.line('25', '°C', 'Degré Celsius') }}
        {{ table.line('22', '°C', 'Degré Celsius') }}
        {{ table.line('19', '°C', 'Degré Celsius') }}
        {{ table.line('14', '°C', 'Degré Celsius') }}
        {{ table.line('9', '°C', 'Degré Celsius') }}
      </tr>
    </tbody>
  </table>

  <div class="note">
    <h4>Note</h4>
    <p>
      Le principal écueil de ce graphique est
      qu’<strong>il nécessite de connaître le nombre de points</strong> par avance.
      Pour jouer d’avantage et vous familiariser avec <code>clip-path</code>,
      <cite>Bennett Feely</cite> a créé <a href="http://bennettfeely.com/clippy/" hreflang="en">clippy</a>.
    </p>
  </div>

  <h4>Graphique à point</h4>

  <p>Cette variante diffère finalement assez peu de la précédente mouture&nbsp;:</p>

  <ol>
    <li>le <code>polygon()</code> est poursuivi pour former une ligne&nbsp;;</li>
    <li>
      un pseudo-élément supplémentaire permet d’afficher le point pour chaque valeur
      —&nbsp;positionné à l’aide des mêmes calculs qui servent dans le polygone.
    </li>
  </ol>

  <table class="table-charts line points" style="--y: 32; --x: 12; --1: 8; --2: 6; --3: 9; --4: 12; --5: 15; --6: 21; --7: 24; --8: 25; --9: 22; --10: 19; --11: 14; --12: 9;">
    <caption>Température mensuelle moyenne en 2017</caption>
    <thead>
      <tr>
        <th scope="row" class="sr-only">Mois</th>
        <th scope="col">Jan.</th>
        <th scope="col">Fév.</th>
        <th scope="col">Mars</th>
        <th scope="col">Avr.</th>
        <th scope="col">Mai</th>
        <th scope="col">Juin</th>
        <th scope="col">Juil.</th>
        <th scope="col">Août</th>
        <th scope="col">Sep.</th>
        <th scope="col">Oct.</th>
        <th scope="col">Nov.</th>
        <th scope="col">Déc.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="sr-only">Température</th>
        {{ table.line('8', '°C', 'Degré Celsius') }}
        {{ table.line('6', '°C', 'Degré Celsius') }}
        {{ table.line('9', '°C', 'Degré Celsius') }}
        {{ table.line('12', '°C', 'Degré Celsius') }}
        {{ table.line('15', '°C', 'Degré Celsius') }}
        {{ table.line('21', '°C', 'Degré Celsius') }}
        {{ table.line('24', '°C', 'Degré Celsius') }}
        {{ table.line('25', '°C', 'Degré Celsius') }}
        {{ table.line('22', '°C', 'Degré Celsius') }}
        {{ table.line('19', '°C', 'Degré Celsius') }}
        {{ table.line('14', '°C', 'Degré Celsius') }}
        {{ table.line('9', '°C', 'Degré Celsius') }}
      </tr>
    </tbody>
  </table>

  <h2>Graphique en tarte</h2>

  <p>
    Le graphique en tarte sert pour <strong>les représentations de proportions en pourcentage</strong>.
    Il utilise principalement les variables CSS, <code>flexbox</code>, <code>clip-path</code>, <code>transform</code> et un tantinet de
    <abbr lang="en" title="Scalable Vectors Graphics">SVG</abbr> pour distinguer chaque zone. Oui, je sais rigoler. Comment qu’on s’en sert&nbsp;?
  </p>

  <ol>
    <li>
      <strong>Sur chaque entête</strong> <code>&lt;th&gt;</code>, une variable <var>--color</var> permet d’attribuer, et bien… une couleur.
    </li>
    <li>
      <strong>Pour chaque entête</strong> <code>&lt;th&gt;</code>, deux cellules <code>&lt;td&gt;</code> doivent suivre&nbsp;:
      <ol>
        <li>la première doit contenir la valeur et son unité&nbsp;;</li>
        <li>
          la seconde est là où la magie opère&nbsp;:
          <ul>
            <li>Avant tout, comme il s’agit d’un élément purement visuel on lui affuble un rôle <code>presentation</code>.</li>
            <li>
              Puis <strong>trois variables</strong> permettent de le placer et le colorer fidèlement à la définition fournie&nbsp;: <var>--value</var>, <var>--start</var> et <var>--color</var>.
              <var>--value</var> correspond à la valeur en pourcentage, utile pour déterminer <strong>l’angle de rotation</strong> de l’arc correspondant.
              <var>--start</var> permet de définir le <strong>point de départ</strong> de l’arc sur le cercle. Il s’agit de la somme des précédentes définitions, celle-ci incluse.
              Et <var>--color</var>… Ne me faites pas répéter&nbsp;!
          </ul>
        </li>
      </ol>
    </li>
    <li>Et finalement <strong>un motif</strong> est appliqué sur l’arrière-plan, afin de mieux l’associer visuellement avec la légende correspondante.</li>
  </ol>

  {% import 'macros/_table-pie.html' as table %}

  <table class="table-charts pie" style="--scale: 3000">
    <caption>Répartition du poids des ressources pour <a href="https://www.ffoodd.fr" target="_blank" rel="noopener noreferrer">ffoodd.fr</a></caption>
    <thead class="sr-only">
      <tr>
        <th scope="col">Ressource</th>
        <th scope="col">Proportion</th>
      </tr>
    </thead>
    <tbody>
      {{ table.pie('HTML', '2', '%', '', '0', '#444') }}
      {{ table.pie('CSS', '2', '%', '', '2', 'firebrick') }}
      {{ table.pie('JS', '32', '%', '', '4', 'crimson') }}
      {{ table.pie('Json', '1', '%', '', '36', 'mediumblue') }}
      {{ table.pie('Images', '44', '%', '', '37', 'darkblue') }}
      {{ table.pie('Webfonts', '17', '%', '', '81', 'rebeccapurple') }}
      {{ table.pie('Autres', '2', '%', '', '98', 'indigo') }}
    </tbody>
  </table>

  <h3><i lang="en">Donut</i></h3>

  <p>
    Sur l’élément <code>&lt;table&gt;</code>, on ajoute une variable <var>--offset</var>
    qui permet de déterminer la dimension du trou du <em lang="en">donut</em>,
    généré à l’aide de <code>mask-image</code> et <code>radial-gradient()</code>.
    <cite>Ana Tudor</cite> a réalisé <a href="https://codepen.io/thebabydino/pens/tags/?selected_tag=mask" hreflang="en">de très nombreux exemples
    d’utilisation des <code>mask-*</code> sur CodePen</a>, jetez-y un œil&nbsp;!
  </p>

  <table class="table-charts pie donut" style="--scale: 3000; --offset: 8rem;">
    <caption>Répartition du poids des ressources pour <a href="https://www.ffoodd.fr" target="_blank" rel="noopener noreferrer">ffoodd.fr</a></caption>
    <thead class="sr-only">
      <tr>
        <th scope="col">Ressource</th>
        <th scope="col">Proportion</th>
      </tr>
    </thead>
    <tbody>
      {{ table.pie('HTML', '2', '%', '', '0', '#444') }}
      {{ table.pie('CSS', '2', '%', '', '2', 'firebrick') }}
      {{ table.pie('JS', '32', '%', '', '4', 'crimson') }}
      {{ table.pie('Json', '1', '%', '', '36', 'mediumblue') }}
      {{ table.pie('Images', '44', '%', '', '37', 'darkblue') }}
      {{ table.pie('Webfonts', '17', '%', '', '81', 'rebeccapurple') }}
      {{ table.pie('Autres', '2', '%', '', '98', 'indigo') }}
    </tbody>
  </table>

  <div class="note">
    <h4>Dégradé conique</h4>
    <p>
      L’utilisation de <code>conic-gradient()</code> est prometteuse pour ce cas précis.
      Vous en trouverez des exemples réalisés par <cite>Ana Tudor</cite> ou <cite>Léa Verou</cite> —&nbsp;qui a carrément rédigé la spécification,
      et conçu <a href="https://leaverou.github.io/conic-gradient/" hreflang="en">un <em lang="en">polyfill</em></a>.
      Cependant le <a href="https://caniuse.com/#search=conic-gradient" hreflang="en">support limité aux navigateurs basés sur WebKit</a> est déprimant, et pose tout de même quelques questions
      en matière d’accessibilité.
    </p>
  </div>

  <h2>Graphique radar</h2>

  <p>
    Celui-ci est plutôt amusant. Côté <abbr lang="en" title="HyperText Markup Language">HTML</abbr>,
    peu de différence&nbsp;: on définit les variables <abbr lang="en" title="Cascading StyleSheet">CSS</abbr>
    sur la liste de définitions —&nbsp;l’échelle (et les paliers), le nombre d’élément, et les valeurs.
    On a aussi besoin d’un attribut <code>data-value</code> sur le terme pour afficher la valeur une nouvelle fois.
  </p>

  <p>
    Côté <abbr lang="en" title="Cascading StyleSheet">CSS</abbr>, ça se complique&nbsp;:
  </p>

  <ul>
    <li>
      Sur l’élément <code>&lt;dl&gt;</code>, on crée l’échelle circulaire à l’aide de deux <code>repeating-radial-gradient()</code>
      successifs —&nbsp;en fonction des variables <var>--scale</var> et <var>--step</var>&nbsp;;
    </li>
    <li>
      Chaque élément <code>&lt;dt&gt;</code> est déplacé à l’extérieur du cercle, grâce à une technique
      empruntée à <a href="https://stackoverflow.com/questions/12813573/position-icons-into-circle" hreflang="en"><cite>Ana Tudor</cite>, qui l’explique sur StackOverflow</a>&nbsp;;
    </li>
    <li>
      Puis la magie opère sur les éléments <code>&lt;dd&gt;</code>&nbsp;:
      <ol>
        <li>chacun est ajusté pour former un carré dont le côté est égal au rayon du cercle en arrière-plan&nbsp;</li>
        <li>
          puis transformé de façon à représenter une portion du cercle en fonction du nombre d’éléments —&nbsp;précisé avec <var>--items</var>, grâce à
          <a href="https://tympanus.net/codrops/2013/08/09/building-a-circular-navigation-with-css-transforms/" hreflang="en">une technique partagée par <cite>Sara Soueidan</cite> sur Codrops</a>,
        </li>
        <li>chacun se voit décoré d’une bordure, en bas&nbsp;;</li>
        <li>
          puis on utilise de nouveau <code>clip-path</code> et la fonction <code>polygon()</code> sur chaque enfant direct
          <code>&lt;span&gt;</code> —&nbsp;étendu pour occuper toute la surface de son <code>&lt;dd&gt;</code>de parent&nbsp;—
          afin de former un triangle, basé pour un côté sur le ratio valeur de l’élément courant / échelle, et sur un autre côté un ratio
          basé sur la valeur de l’élément suivant (miam les <code>calc()</code>) mais sur une autre échelle…
        </li>
        <li>
          car pour compenser la distorsion due à la propriété <code>transform</code>, nous devons corriger l’échelle sur laquelle
          est calculée le second ratio à l’aide d’un peu de trigonométrie&nbsp;:
          <ul>
            <li>nous connaissons un côté du triangle rectangle obtenu après la déformation, ainsi que deux angles (le droit, bien entendu, et nous déduisons le deuxième de l’angle utilisé pour déformer l’élément)&nbsp;;</li>
            <li>
              nous pouvons donc <a href="https://fr.wikihow.com/calculer-la-longueur-de-l%27hypot%C3%A9nuse">calculer l’hypothénuse en utilisant la loi des sinus</a>, ce qui implique de calculer le sinus…
              —&nbsp;fort heureusement, <a href="https://gist.github.com/stereokai/7666bfe93929b14c2dced148c79e0e97" hreflang="en"><cite>Stereokai</cite> a implémenté pour nous la représentation polynomiale de Taylor/Maclaurin en CSS</a>&nbsp;;
            </li>
            <li>
              et finalement, il ne nous reste qu’à calculer le ratio entre la dimension initiale (le côté) et la dimension finale (l’hypothénuse) et appliquer ce ratio
              à l’échelle sur laquelle est placée le deuxième point du polygône.
            </li>
          </ul>
        </li>
        <li>le troisième point du polygône est l’angle en bas à droite, dont les coordonnées sont <code>100% 100%</code>.</li>
      </ol>
    </li>
  </ul>

  <p>Et voilà, c’est tout&nbsp;!</p>

  {% import 'macros/_radar.html' as charts %}

  <figure role="group">
    <dl role="list" class="charts-radar" style="--scale: 20; --step: 5; --items: 7; --1: 14; --2: 11; --3: 13; --4: 16; --5: 10; --6: 12; --7: 4; --8: var(--1);">
      {{ charts.radar('Accessibilité', '14', '20') }}
      {{ charts.radar('Référencement', '11', '20') }}
      {{ charts.radar('Performance', '13', '20') }}
      {{ charts.radar('Compatibilité', '16', '20') }}
      {{ charts.radar('Sécurité', '10', '20') }}
      {{ charts.radar('Qualité de code', '12', '20') }}
      {{ charts.radar('Test', '4', '20') }}
    </dl>
    <figcaption>Niveau d’intérêt par domaine, sur 20</figcaption>
  </figure>
{% endblock %}
