{% extends "index.html" %}

{% block navigation %}
  <ul class="fly-out">
    <li><a href="./index.html">Accueil</a></li>
    <li><a href="./elements.html">Éléments</a></li>
    <li>
      <a href="./groupes.html">Groupes</a>
      <ul>
        <li><a href="./groupes.html#messages">Messages</a></li>
        <li><a href="./groupes.html#cards">Cartes</a></li>
        <li><a href="./groupes.html#panels">Panneaux</a></li>
        <li><a href="./groupes.html#fly-out">Menu déroulant</a></li>
        <li><a href="./groupes.html#codeblocks">Blocs de code</a></li>
        <li><a href="./groupes.html#navigation">Navigation</a></li>
      </ul>
    </li>
    <li><a aria-current="page">Graphiques</a></li>
  </ul>
{% endblock %}

{% block main %}
  <h1>Graphiques</h1>

  <p>
    Les deux versions de graphiques présentées pour le moment reposent uniquement sur un balisage sémantique
    —&nbsp;<code>dl</code>, <code>dt</code> et <code>dd</code>&nbsp;— et une tartine de <strong>variables CSS portées par les balises</strong>.
  </p>

  <p>
    Là encore, le balisage est parfaitement accessible&nbsp;! Aucun JavaScript n’est requis, et les styles proposent une 
    <strong>amélioration progressive</strong> selon les capacités de votre navigateur.
  </p>

  <h2>Graphique en barre</h2>

  <p>
    Ce type de graphique sert à représenter <strong>des données à une dimension</strong> (dans notre exemple, une ligne de temps).
    Il repose sur les <strong>grilles et les variables CSS</strong>.
    Pour vous en servir, c’est simple&nbsp;:
  </p>

  <ol>
    <li>
      Pour améliorer la compréhension globale, utiliser un <strong>conteneur</strong> <code>figure</code> avec le role <code>group</code> ainsi 
      qu’une légende balisée avec <code>figcaption</code>.
    </li>
    <li>
      Sur la <strong>liste de définitions</strong> <code>dl</code>, une variable <code>--scale</code> permet de définir la valeur maximale du graphique,
      afin d’en déterminer l’échelle. Concrètement, une grille va être générée avec&nbsp;:
      <ul>
        <li>la première colonne pour les termes <code>dt</code> arbitrairement fixée à <code>12.5em</code>&nbsp;;</li>
        <li>puis la fonction CSS <code>repeat()</code> crée une colonne par unité de l’échelle —&nbsp;dans l’exemple, 3000 colonnes&nbsp;;</li>
        <li>enfin une dernière colonne mesurant <code>6ch</code>, soit l’espace suffisant pour six lettres.</li>
      </ul>
    </li>
    <li>
      <strong>Sur chaque définition</strong> <code>dd</code>, une variable <code>--value</code> permet de la placer sur la grille, 
      appliquée à <code>grid-column-end</code>.
      De plus grâce à de savants calculs reposant sur cette valeur, le dégradé en arrière-plan est dimensionné et positionné de façon à
      refléter la proportion représentée par cette valeur sur l’échelle donnée (du vert pour presque rien au rouge pour presque tout).
    </li>
    <li>
      <strong>Dans chaque définition</strong>, le contenu doit reprendre la valeur dans un élément <code>span</code> et une unité, éventuellement 
      balisée avec <code>abbr</code> si un intitulé peut être explicité pour l’unité. Cette valeur est poussée à droite de la grille, et son texte 
      sert de masque pour le dégradé en arrière-plan —&nbsp;lui permettant d’être de la couleur correspondante à la fin du dégradé pour la position donnée.
    </li>
  </ol>

  {% import 'macros/_bar.html' as charts %}

  <figure role="group">
    <dl class="charts-bar" style="--scale: 3000">
      {{ charts.bar('Temps : backend', '4', 'ms', 'Milliseconde') }}
      {{ charts.bar('Temps : Frontend', '96', 'ms', 'Milliseconde') }}
      {{ charts.bar('Délai : premier octet', '102', 'ms', 'Milliseconde') }}
      {{ charts.bar('Délai : dernier octet', '129', 'ms', 'Milliseconde') }}
      {{ charts.bar('Délai : première image', '188', 'ms', 'Milliseconde') }}
      {{ charts.bar('Délai : premier CSS', '194', 'ms', 'Milliseconde') }}
      {{ charts.bar('Délai : premier JS', '326', 'ms', 'Milliseconde') }}
      {{ charts.bar('DOM Interactif', '836', 'ms', 'Milliseconde') }}
      {{ charts.bar('Chargement du DOM', '836', 'ms', 'Milliseconde') }}
      {{ charts.bar('DOM complet', '2561', 'ms', 'Milliseconde') }}
      {{ charts.bar('Trafic HTTP terminé', '2980', 'ms', 'Milliseconde') }}
    </dl>
    <figcaption>Temps de chargement pour <a href="https://www.ffoodd.fr" target="_blank" rel="noopener noreferrer">ffoodd.fr</a></figcaption> 
  </figure>

  <h2>Graphique en tarte</h2>

  <p>
    Le graphique en tarte sert pour <strong>les représentations de proportions en pourcentage</strong>.
    Il utilise principalement les variables CSS, <code>flexbox</code>, <code>clip-path</code>, <code>transform</code> et un tantinet de 
    <abbr lang="en" title="Scalable Vectors Graphics">SVG</abbr> pour distinguer chaque zone. Oui, je sais rigoler. Comment qu’on s’en sert&nbsp;?
  </p>

  <ol>
    <li>
      Comme pour le précédent exemple&nbsp;: pour améliorer la compréhension globale, utiliser un <strong>conteneur</strong> <code>figure</code> avec le role <code>group</code> ainsi 
      qu’une légende balisée avec <code>figcaption</code>.
    </li>
    <li>
      Sur la <strong>liste de définitions</strong> <code>dl</code>, une variable <code>--offset</code> permet de déterminer la dimension du trou du <em lang="en">donut</em>.
      Si, si, on en avait besoin&nbsp;!
    </li>
    <li>
      <strong>Sur chaque terme</strong> <code>dt</code>, une variable <code>--color</code> permet d’attribuer, et bien… une couleur.
    </li>
    <li>
      <strong>Pour chaque terme</strong> <code>dt</code>, deux définitions <code>dd</code> doivent suivre&nbsp;:
      <ol>
        <li>la première doit contenir la valeur et son unité, et porter la même variable <code>--color</code> que son terme&nbsp;;</li>
        <li>
          la seconde est là où la magie opère&nbsp;:
          <ul>
            <li>Avant tout, comme il s’agit d’un élément purement visuel on lui affuble un rôle <code>presentation</code>.</li>
            <li>
              Puis <strong>trois variables</strong> permettent de le placer et le colorer fidèlement à la définition fournie&nbsp;: <code>--value</code>, <code>--start</code> et <code>--color</code>.
              <code>--value</code> correspond à la valeur en pourcentage, utile pour déterminer <strong>l’angle de rotation</strong> de l’arc correspondant.
              <code>--start</code> permet de définir le <strong>point de départ</strong> de l’arc sur le cercle. Il s’agit de la somme des précédentes définitions, celle-ci incluse.
              Et <code>--color</code>… Ne me faites pas répéter&nbsp;!
          </ul>
        </li>
      </ol>
    </li>
    <li>Et finalement <strong>un motif</strong> est appliqué sur l’arrière-plan, afin de mieux l’associer visuellement avec la légende correspondante.</li>
  </ol>

  {% import 'macros/_pie.html' as charts %}

  <figure role="group">
    <dl class="charts-pie" style="--offset: 8rem">
      {{ charts.pie('HTML', '2', '%', '', '0', '#444') }}
      {{ charts.pie('CSS', '2', '%', '', '2', 'firebrick') }}
      {{ charts.pie('JS', '32', '%', '', '4', 'crimson') }}
      {{ charts.pie('Json', '1', '%', '', '36', 'mediumblue') }}
      {{ charts.pie('Images', '44', '%', '', '37', 'darkblue') }}
      {{ charts.pie('Webfonts', '17', '%', '', '81', 'rebeccapurple') }}
      {{ charts.pie('Autres', '2', '%', '', '98', 'indigo') }}
    </dl>
    <figcaption>Répartition du poids des ressources pour <a href="https://www.ffoodd.fr" target="_blank" rel="noopener noreferrer">ffoodd.fr</a></figcaption>
  </figure>
  
  <h3>Variantes</h3>
  
  <div class="grid-2">
    <div>
      <h4>Graphique sans <i lang="en">donut</i></h4>
      
      <figure role="group">
        <dl class="charts-pie no-donut">
          {{ charts.pie('HTML', '2', '%', '', '0', '#444') }}
          {{ charts.pie('CSS', '2', '%', '', '2', 'firebrick') }}
          {{ charts.pie('JS', '32', '%', '', '4', 'crimson') }}
          {{ charts.pie('Json', '1', '%', '', '36', 'mediumblue') }}
          {{ charts.pie('Images', '44', '%', '', '37', 'darkblue') }}
          {{ charts.pie('Webfonts', '17', '%', '', '81', 'rebeccapurple') }}
          {{ charts.pie('Autres', '2', '%', '', '98', 'indigo') }}
        </dl>
        <figcaption>Répartition du poids des ressources pour <a href="https://www.ffoodd.fr" target="_blank" rel="noopener noreferrer">ffoodd.fr</a></figcaption>
      </figure>
    </div>
    <div>
      <h4>Graphique polaire</h4>
      
      <figure role="group">
        <dl class="charts-pie no-donut polar">
          {{ charts.pie('HTML', '2', '%', '', '0', 'firebrick') }}
          {{ charts.pie('JS', '32', '%', '', '2', 'crimson') }}
          {{ charts.pie('Images', '44', '%', '', '34', 'rebeccapurple') }}
          {{ charts.pie('Webfonts', '17', '%', '', '78', 'mediumblue') }}
          {{ charts.pie('Autres', '4', '%', '', '96', 'indigo') }}
        </dl>
        <figcaption>Répartition du poids des ressources pour <a href="https://www.ffoodd.fr" target="_blank" rel="noopener noreferrer">ffoodd.fr</a></figcaption>
      </figure>
    </div>
  </div> 
  
  <h2>Autre graphique</h2>
  
  <p>
    Ce graphique repose sur <strong>les variables CSS, les grilles</strong> et <code>clip-path</code>. 
    Cette dernière propriété est la plus importante.
    <br>
    <strong>Note</strong>&nbsp;: le principal écueil de ce graphique est qu’<strong>il nécessite de connaître le nombre de points</strong> par avance.
  </p>
  
  <ol>
    <li>
      Comme pour les précédents exemples&nbsp;: pour améliorer la compréhension globale, utiliser un <strong>conteneur</strong> <code>figure</code> avec le role <code>group</code> ainsi 
      qu’une légende balisée avec <code>figcaption</code>.
    </li>
    <li>
      Sur la <strong>liste de définitions</strong> <code>dl</code>, toutes les données importantes sont présentes&nbsp;:
      <ul>
        <li>
          <code>--y</code> définit l’échelle des <strong>ordonnées</strong>, utilisée pour indiquer l’échelle en arrière-plan mais aussi placer
          les points sur la courbe&nbsp;;
        </li>
        <li><code>--x</code> correspond à l’échelle des <strong>abscisses</strong>&nbsp;;</li>
        <li>puis <code>--1</code>, <code>--2</code>… correspondent à chaque point, avec leur valeur.</li>
      </ul>
    </li>
  </ol>
  
  <p>
    Pour chaque point placé sur <code>dl</code>, une position est définieau sein de la fonction <code>polygon()</code> de <code>clip-path</code>.
    Étant donné que cette fonction accepte deux valeurs en pourcentage pour chaque point, la méthode est relativement simple.
    Tout le reste n’est que décoration&nbsp;!
  </p>
  
  {% import 'macros/_line.html' as charts %}
  
  <figure role="group">
    <dl class="charts-line" style="--y: 32; --x: 12; --1: 8; --2: 6; --3: 9; --4: 12; --5: 15; --6: 21; --7: 24; --8: 25; --9: 22; --10: 19; --11: 14; --12: 9;">
      {{ charts.line('Jan.', '8', '°C', 'Degré Celsius') }}
      {{ charts.line('Fév.', '6', '°C', 'Degré Celsius') }}
      {{ charts.line('Mars', '9', '°C', 'Degré Celsius') }}
      {{ charts.line('Avr.', '12', '°C', 'Degré Celsius') }}
      {{ charts.line('Mai', '15', '°C', 'Degré Celsius') }}
      {{ charts.line('Juin', '21', '°C', 'Degré Celsius') }}
      {{ charts.line('Juil.', '24', '°C', 'Degré Celsius') }}
      {{ charts.line('Août', '25', '°C', 'Degré Celsius') }}
      {{ charts.line('Sep.', '22', '°C', 'Degré Celsius') }}
      {{ charts.line('Oct.', '19', '°C', 'Degré Celsius') }}
      {{ charts.line('Nov.', '14', '°C', 'Degré Celsius') }}
      {{ charts.line('Déc.', '9', '°C', 'Degré Celsius') }}
    </dl>
    <figcaption>Température mensuelle moyenne en 2017</figcaption> 
  </figure> 
{% endblock %}