<!DOCTYPE html>
<html lang="fr" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block meta %}
          <title>sseeeedd</title>
          <meta property="og:url" content="https://ffoodd.github.io/sseeeedd/">
          <meta property="og:title" content="sseeeedd">
          <meta property="og:type" content="article">
          <meta property="og:description"
                name="description" content="Une graîne pour cultiver son front-end">
          <meta name="twitter:card" content="summary">
        {% endblock %}
        <script>
          document.documentElement.classList.remove('no-js');
          document.documentElement.classList.add('js');
        </script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/styles.min.css" media="all">
        <link rel="stylesheet" href="css/print.min.css" media="print">
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
      <header role="banner">
        {% block skiplinks %}
          <div>
            <a href="#nav" class="sr-only sr-only-focusable">Aller à la navigation</a>
            <a href="#main" class="sr-only sr-only-focusable">Aller au contenu</a>
          </div>
        {% endblock %}

        <nav role="navigation" id="nav" aria-label="Navigation principale">
          {% block navigation %}
            <ul class="fly-out">
              <li><a aria-current="page">Accueil</a></li>
              <li><a href="./elements.html">Éléments</a></li>
              <li>
                <button type="button">Groupes</button>
                <ul>
                  <li><a href="./groupes.html">Introduction</a></li>
                  <li><a href="./groupes.html#messages">Messages</a></li>
                  <li><a href="./groupes.html#cards">Cartes</a></li>
                  <li><a href="./groupes.html#panels">Panneaux</a></li>
                  <li><a href="./groupes.html#navigation">Navigation</a></li>
                  <li><a href="./groupes.html#codeblocks">Blocs de code</a></li>
                  <li><a href="./groupes.html#dl">Définitions</a></li>
                </ul>
              </li>
              <li><a href="./composants.html">Composants</a></li>
              <li><a href="./graphiques.html">Graphiques</a></li>
              <li><a href="./jeu-de-cartes.html">Jeu de cartes</a></li>
            </ul>
          {% endblock %}
        </nav>
      </header>

      <main role="main" id="main" tabindex="-1" itemprop="mainContentOfPage">
        {% block main %}
          <h1>sseeeedd</h1>

          <p>
            sseeeedd est à la fois <strong>un socle de travail</strong> pour l’intégration statique — qui peut servir d’environnement de travail —
            et un <strong>espace d’expérimentations</strong>.
          </p>

          <div class="grid-2">
            <div>
              <h2>Personnalisation</h2>

              <p>
                Vous pouvez le personnaliser facilement à l’aide de quelques variables dans <code>src/scss/abstracts/_variables.scss</code>
                et l’alléger en supprimant quelques imports dans le fichier principal.
              </p>
            </div>
            <div>
              <h2>Utilisation</h2>

              <p>
                Si vous êtes familiers de npm et Gulp, vous vous y retrouverez sans mal.
                La tâche <code>gulp</code> par défaut lancer une instance de <span lang="en">BrowserSync</span>,
                surveillant les sources Sass, JavaScript, Nunjucks et les images.
              </p>
            </div>
          </div>
          <h2>Palette de couleurs</h2>
          <p>
            La palette est entièrement gérée à l’aide <a href="https://www.sarasoueidan.com/blog/hex-rgb-to-hsl/"
            hreflang="en">d’une technique partagée par <cite>Sara Soueidan</cite> —&nbsp;basée sur les
            fonctions <code>var()</code>, <code>calc()</code> et <code>hsl()</code></a>. Cependant,
            j’utilise ici une palette de couleurs <strong>anologues</strong>.
          </p>
          <p>
            La couleur centrale pour cette démonstration est la couleur tonique, dont je voulais
            qu’elle corresponde à la couleur <code>rebeccapurple</code>. Je vous invite à lire
            <a href="https://meyerweb.com/eric/thoughts/2014/06/19/rebeccapurple/" hreflang="en">le billet
            d’<cite>Eric Meyer</cite> sur l’origine de <code>rebeccapurple</code></a>, vous devriez comprendre.
            En revanche les couleurs «&nbsp;systèmes&nbsp;» pour évoquer les alertes et succès dans l’interface
            sont <strong>complémentaires</strong>.
          </p>

          <div class="palette">
            {% import 'macros/_color.html' as palette %}
            {% set colors = ['muted','secondary','accent','alert','success'] %}
            {% for color in colors %}
             <figure role="figure" aria-label="{{ color | capitalize }}">
                <figcaption class="fw-700 no-padding mb-1">{{ color | capitalize }}</figcaption>
                {{ palette.color(color) }}
                <div class="grid-2">
                  {{ palette.color(color, '-light', 'claire') }}
                  {{ palette.color(color, '-dark', 'sombre') }}
                </div>
              </figure>
             {% endfor %}
          </div>
          <p>
            La mise en forme de cette palette est basée sur <a href="https://codepen.io/tigt/post/semantic-html-for-colors"
            hreflang="en">une astuce de <cite>Taylor Hunt</cite></a>.
          </p>
          <h3>Implémentation technique</h3>
          <p>La totalité de la palette est déduite de quelques valeurs d’origines&nbsp;:</p>
          <ol>
            <li>
              la teinte <var>--hue</var> de la couleur secondaire, à laquelle nous ajoutons 30°
              pour obtenir la couleur <strong>analogue</strong> —&nbsp;ici, la tonique <code>rebeccapurple</code>
              évoquée plus haut&nbsp;;
            </li>
            <li>
              la teinte <var>--right</var> définissant la couleur système du succès, dont nous déduisons
              la complémentaire pour les alertes en ajoutant 180°,
              c’est à dire en lui faisant effectuer <strong>un demi-tour chromatique</strong>&nbsp;;
            </li>
            <li>
              pour la luminosité, nous avons besoin de trois valeurs&nbsp;:
              <ol>
                <li>une base <var>--lightness</var>, fixée à <var>40%</var> —&nbsp;toujours basée sur <code>rebeccapurple</code>&nbsp;;</li>
                <li>
                  un coefficient <var>--light-scale</var> —&nbsp;fixé à <var>1.61803398875</var>,
                  <a href="https://fr.wikipedia.org/wiki/Nombre_d%27or">le nombre d’or</a>&nbsp;—
                  pour placer les déclinaisons sur une <strong>échelle</strong> cohérente&nbsp;;</li>
                <li>
                  puis les déclinaisons claire et sombre, que nous déduisons grâce au coefficient
                  —&nbsp;respectivement <var>--brighter</var> et <var>--darker</var>.
                </li>
              </ol>
            </li>
          </ol>
          <p>Le tout se corse légèrement avec deux mécanismes supplémentaires&nbsp;:</p>
          <ul>
            <li>
              <strong>l’accentuation des contrastes</strong> sur petits écrans, en redéfinissant
              la luminosité de base <var>--lightness</var> et le coefficient <var>--light-scale</var>
              dans une <em lang="en">media query</em>&nbsp;;
            </li>
            <li>
              un mécanisme de <strong>bascule</strong> de la couleur de contraste basé sur la luminosité,
              <a href="https://css-tricks.com/switch-font-color-for-different-backgrounds-with-css/" hreflang="en">expliqué
              par <cite>Facundo Corradini</cite> sur CSS Tricks</a> et <a href="https://codepen.io/una/pen/VJMBbx"
              hreflang="en">implémenté par <cite>Una Kravets</cite> dans un CodePen</a>.
              Ce mécanisme n’est pas parfait puisqu’il ne repose pas sur la luminosité <em>perçue</em>,
              mais s’avère suffisamment fiable dans la plupart des cas.
            </li>
          </ul>
        {% endblock %}
      </main>

      {% block scripts %}
        <script src="js/script.min.js" async></script>
        <script src="js/prism.min.js"></script>
      {% endblock %}

      {% block modal %}
      {% endblock %}
    </body>
</html>
