<!DOCTYPE html>
<html lang="fr" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block meta %}
          <title>sseeeedd</title>
          <meta property="og:url" content="https://ffoodd.github.io/sseeeedd/">
          <meta property="og:title" content="sseeeedd">
          <meta property="og:type" content="article">
          <meta property="og:description"
                name="description" content="Une graîne pour cultiver son front-end">
          <meta name="twitter:card" content="summary">
        {% endblock %}
        <script>
          document.documentElement.classList.remove('no-js');
          document.documentElement.classList.add('js');
        </script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/styles.min.css" media="all">
        <link rel="stylesheet" href="css/print.min.css" media="print">
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
      <header role="banner">
        {% block skiplinks %}
          <div>
            <a href="#nav" class="sr-only sr-only-focusable">Aller à la navigation</a>
            <a href="#main" class="sr-only sr-only-focusable">Aller au contenu</a>
          </div>
        {% endblock %}

        <nav role="navigation" id="nav" aria-label="Navigation principale">
          {% block navigation %}
            <ul class="fly-out">
              <li><a aria-current="page">Accueil</a></li>
              <li><a href="./elements.html">Éléments</a></li>
              <li>
                <button type="button">Groupes</button>
                <ul>
                  <li><a href="./groupes.html">Introduction</a></li>
                  <li><a href="./groupes.html#messages">Messages</a></li>
                  <li><a href="./groupes.html#cards">Cartes</a></li>
                  <li><a href="./groupes.html#panels">Panneaux</a></li>
                  <li><a href="./groupes.html#navigation">Navigation</a></li>
                  <li><a href="./groupes.html#codeblocks">Blocs de code</a></li>
                  <li><a href="./groupes.html#dl">Définitions</a></li>
                </ul>
              </li>
              <li><a href="./composants.html">Composants</a></li>
              <li><a href="./graphiques.html">Graphiques</a></li>
              <li><a href="./jeu-de-cartes.html">Jeu de cartes</a></li>
            </ul>
          {% endblock %}
        </nav>
      </header>

      <main role="main" id="main" tabindex="-1" itemprop="mainContentOfPage">
        {% block main %}
          <h1>sseeeedd</h1>

          <p>
            sseeeedd est à la fois <strong>un socle de travail</strong> pour l’intégration statique — qui peut servir d’environnement de travail —
            et un <strong>espace d’expérimentations</strong>.
          </p>

          <div class="grid-2">
            <div>
              <h2>Personnalisation</h2>

              <p>
                Vous pouvez le personnaliser facilement à l’aide de quelques variables dans <code>src/scss/abstracts/_variables.scss</code>
                et l’alléger en supprimant quelques imports dans le fichier principal.
              </p>
            </div>
            <div>
              <h2>Utilisation</h2>

              <p>
                Si vous êtes familiers de npm et Gulp, vous vous y retrouverez sans mal.
                La tâche <code>gulp</code> par défaut lancer une instance de <span lang="en">BrowserSync</span>,
                surveillant les sources Sass, JavaScript, Nunjucks et les images.
              </p>
            </div>
          </div>
          <h2>Palette de couleurs</h2>
          <p>
            La mise en forme de cette palette est basée sur <a href="https://codepen.io/tigt/post/semantic-html-for-colors"
            hreflang="en">une astuce de <cite>Taylor Hunt</cite></a>.
          </p>
          <div class="deck">
            {% set colors = ['alert','success','accent','dominant','secondary', 'default'] %}
            {% for color in colors %}
             <figure role="figure" aria-label="{{ color | capitalize }}">
                <svg width="100%" height="3em" aria-label="{{ color }}" class="clr-{{ color }} mb-1">
                  <rect fill="currentColor" width="100%" height="100%">
                </svg>
                <figcaption class="fw-700 no-padding">{{ color | capitalize }}</figcaption>
              </figure>
             {% endfor %}
          </div>
        {% endblock %}
      </main>

      {% block scripts %}
        <script src="js/script.min.js" async></script>
        <script src="js/prism.min.js"></script>
      {% endblock %}

      {% block modal %}
      {% endblock %}
    </body>
</html>
