{% extends "index.html" %}

{% block meta %}
  <title>sseeeedd — Jeu de cartes</title>
  <meta property="og:url" content="https://ffoodd.github.io/sseeeedd/graphiques.html">
  <meta property="og:title" content="sseeeedd — Jeu de cartes">
  <meta property="og:type" content="article">
  <meta property="og:description"
        name="description" content="Une graîne pour cultiver son front-end">
  <meta name="twitter:card" content="summary">
{% endblock %}

{% block navigation %}
  <ul class="fly-out">
    <li><a href="./index.html">Accueil</a></li>
    <li><a href="./elements.html">Éléments</a></li>
    <li>
      <a href="./groupes.html">Groupes</a>
      <ul>
        <li><a href="./groupes.html#messages">Messages</a></li>
        <li><a href="./groupes.html#cards">Cartes</a></li>
        <li><a href="./groupes.html#panels">Panneaux</a></li>
        <li><a href="./groupes.html#navigation">Navigation</a></li>
        <li><a href="./groupes.html#codeblocks">Blocs de code</a></li>
        <li><a href="./groupes.html#dl">Définitions</a></li>
      </ul>
    </li>
    <li><a href="./composants.html">Composants</a></li>
    <li>
      <a href="./graphiques.html">Graphiques</a>
      <ul>
        <li><a href="./graphiques.html#accessibilite">Accessibilité</a></li>
        <li><a href="./graphiques.html#bar-chart">Graphique en barre</a></li>
        <li><a href="./graphiques.html#line-charts">Graphique linéaire</a></li>
        <li><a href="./graphiques.html#column-charts">Histogramme</a></li>
        <li><a href="./graphiques.html#pie-charts">Graphique en tarte</a></li>
        <li><a href="./graphiques.html#radar-charts">Graphique radar</a></li>
      </ul>
    </li>
    <li><a aria-current="page">Jeu de cartes</a></li>
  </ul>
{% endblock %}

{% block main %}
  <h1>Jeu de cartes</h1>

  <p>
    Ce composant est principalement intéressant parce qu’il est <strong>généré</strong> depuis un fichier <code>.json</code>.
    Chaque carte correspond à une entrée comprenant&nbsp;:
  </p>

  <ul>
    <li>un label,</li>
    <li>une valeur,</li>
    <li>
      une couleur&nbsp;: qui doit être présente dans la <code>palette()</code> du projet
      —&nbsp;jetez un œil à <code>./src/scss/abstracts/variables.scss</code>,
    </li>
    <li>
      et une icône&nbsp; le nom d’un fichier <abbr lang="en" title="Scalable Vector Graphics">SVG</abbr>
      dans le répertoire <code>./src/img/svg/</code> —&nbsp;le tout combiné dans un <em lang="en">sprite</em>.
    </li>
  </ul>

  <p>
    Le reste n’est que sémantique et styles —&nbsp;notamment l’utilisation de la fonction
    <abbr lang="en" title="Cascading StyleSheet">CSS</abbr> <code>element()</code>,
    supportée uniquement par Firefox.
  </p>

  <div class="deck" id="cards">
    {% for item in deck %}
      <figure class="card p-relative no-margin d-flex clr-{{ item.color }}" role="figure" style="--card: #card-{{ loop.index }}" aria-label="{{ item.label }}">
        <p class="--l d-flex no-padding p-relative rounded bg-{{ item.color }}" id="card-{{ loop.index }}">{{ item.value }}</p>
        <svg width="56" height="64" role="img" aria-label="{{ item.label }}" class="no-margin no-padding">
          <use xlink:href="img/symbol.svg#{{ item.icon }}"></use>
        </svg>
        <figcaption class="no-margin no-padding">
          <p class="no-margin fw-700">{{ item.label }}</p>
        </figcaption>
      </figure>
    {% endfor %}
  </div>

  <div class="note">
    <h2 class="h4">À améliorer</h2>
    <p>
      Le balisage ne me paraît pas être le plus opportun pour le moment.
      Commentaires bienvenus&nbsp;!
    </p>
  </div>
{% endblock %}
