{% extends "index.html" %}

{% block meta %}
  <title>sseeeedd — Jeu de cartes</title>
  <meta property="og:url" content="https://ffoodd.github.io/sseeeedd/graphiques.html">
  <meta property="og:title" content="sseeeedd — Jeu de cartes">
  <meta property="og:type" content="article">
  <meta property="og:description"
        name="description" content="Une graîne pour cultiver son front-end">
  <meta name="twitter:card" content="summary">
{% endblock %}

{% block navigation %}
  <ul class="fly-out">
    <li><a href="./index.html">Accueil</a></li>
    <li><a href="./elements.html">Éléments</a></li>
    <li>
      <button type="button">Groupes</button>
      <ul>
        <li><a href="./groupes.html#messages">Messages</a></li>
        <li><a href="./groupes.html#cards">Cartes</a></li>
        <li><a href="./groupes.html#panels">Panneaux</a></li>
        <li><a href="./groupes.html#navigation">Navigation</a></li>
        <li><a href="./groupes.html#codeblocks">Blocs de code</a></li>
      </ul>
    </li>
    <li><a href="./composants.html">Composants</a></li>
    <li><a href="./graphiques.html">Graphiques</a></li>
    <li><a aria-current="page">Jeu de cartes</a></li>
  </ul>
{% endblock %}

{% block main %}
  <h1>Jeu de cartes</h1>

  <div class="deck" id="cards">
    {% for item in deck %}
      <article class="card p-relative no-margin d-flex clr-{{ item.color }}" role="group" style="--card: #card-{{ loop.index }}">
        <p class="--l d-flex no-padding p-relative rounded bg-{{ item.color }}" id="card-{{ loop.index }}">{{ item.value }}</p>
        <figure role="group" class="no-margin no-padding no-background">
          <svg width="64" height="64" role="img" aria-label="{{ item.label }}">
            <use xlink:href="#{{ item.icon }}"></use>
          </svg>
          <figcaption><p class="no-margin fw-700">{{ item.label }}</p></figcaption>
        </figure>
      </article>
    {% endfor %}
  </div>
{% endblock %}
