/* ==================== */
/* == Helpers
/* ==================== */

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: 0 !important;
}

.no-list {
  list-style: none !important;
  padding: 0;
}

.no-event {
  pointer-events: none !important;
}

.list-inline {
  > li {
    display: inline;
  }
}

.ml-auto {
  margin-left: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.no-background {
  background: none !important;
}

.mr-1 {
  margin-right: $gutter !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-1 {
    margin-left: $gutter !important;
}

.mb-1 {
    margin-bottom: $gutter !important;
}

.p-relative {
  position: relative !important;
}

.d-flex {
  align-items: center;
  display: flex !important;
  flex-wrap: wrap;
}

.d-block {
  display: block !important;
}

.align-top {
  align-items: flex-start !important;
}

.align-end {
  align-self: flex-end !important;
  justify-self: flex-end !important;
}

.flex-column {
  flex-direction: column !important;
}

.fw-400 {
  font-weight: normal !important;
}

.fw-700 {
  font-weight: bold !important;
}

.f-left {
  float: left;
}

/* Sizing */
[class*="--s"] {
  font-size: rem( 14 );
  line-height: 1.5;
}

[class*="--l"] {
  font-size: rem( 20 );
  line-height: 1.05;
}

[class*="--xl"] {
  font-size: rem( 24 );
  line-height: 1.75;
  margin: em( 48, 24 ) 0;
}

/* Colors */
.muted {
  color: palette( muted ) !important;

  em,
  strong {
    color: palette( default, secondary );
  }
}

@each $color in default, alert, success, accent, dominant, secondary {
	.clr-#{$color} {
		color: palette( #{$color} ) !important;
  }
}

/* Backgrounds */
@each $color in alert, success, accent, dominant, secondary {
	.bg-#{$color} {
		background-color: palette( #{$color} );
		color: palette( #{$color}, contrast );

    * {
      color: inherit;
    }

    a:hover,
    a:focus {
      color: inherit;
      opacity: .75;
    }
  }
}

@media screen and (-ms-high-contrast: active) {
  .clr-success,
  .clr-dominant {
		color: buttonFace !important;
  }

  .clr-secondary {
    color: window !important;
  }

  .muted {
    color: grayText !important;

    em,
    strong {
      color: windowText;
    }
  }

  .bg-success,
  .bg-dominant {
		background-color: buttonFace;
		color: buttonText;
  }

  .bg-secondary {
		background-color: window;
		color: windowText;
  }

  @supports (--css: var(--iables)) {
    .clr-alert,
    .clr-accent {
  		color: highlight !important;
    }

    .bg-alert,
    .bg-accent {
  		background-color: highlight;
  		color: highlightText;
    }
  }
}

/* Others */
.rounded {
  border-radius: 50%;
}

/* ----------------------------- */
/* -- Improved sr-only
/* ----------------------------- */
/*
 * @author Gaël Poupard
 ** @note Based on Yahoo!'s technique
 ** @author Thierry Koblentz
 ** @see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
 ** 1.
 *** @note `clip` is deprecated but works everywhere
 *** @see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
 ** 2.
 *** @note `clip-path` is the future-proof version, but not very well supported yet
 *** @see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
 *** @see http://caniuse.com/#search=clip-path
 *** @author Yvain Liechti
 *** @see https://twitter.com/ryuran78/status/778943389819604992
 ** 3.
 *** @note preventing text to be condensed
 *** author J. Renée Beach
 *** @see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 *** @note Drupal 8 goes with word-wrap: normal instead
 *** @see https://www.drupal.org/node/2045151
 *** @see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
 ** 4.
 *** @note !important is important
 *** @note Obviously you wanna hide something
 *** @author Harry Roberts
 *** @see http://csswizardry.com/2016/05/the-importance-of-important/
 */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
 * Use in conjunction with .sr-only to only display content when it's focused.
 ** @note Useful for skip links
 ** @see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 ** @note Based on a HTML5 Boilerplate technique, included in Bootstrap
 */
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	clip-path: none !important;
	height: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

/**
 * Aliasing .sr-only
 * @note To match H5BP, Foundation, and Formage
 */
.visually-hidden {
  @extend .sr-only;
}
