$colors: (
  dominant: (
    base: MidnightBlue,
    light: MediumBlue,
    dark: Black
  ),
  secondary: (
    base: DodgerBlue,
    light: DeepSkyBlue,
    dark: MediumBlue
  ),
  accent: (
    base: rebeccaPurple,
    light: BlueViolet,
    dark: Indigo
  ),
  muted: (
    base: Gray,
    x-light: whiteSmoke,
    light: DarkGray,
    dark: DimGray
  ),
  alert: (
    base: Coral,
    dark: OrangeRed
  ),
  success: (
    base: SpringGreen,
    dark: MediumSeaGreen
  ),
  default: (
    base: DimGray,
    secondary: whiteSmoke
  )
);

$gutter: 1rem !default;
