@charset "UTF-8";
/* ----------------------------- */
/* Table of contents */
/* ----------------------------- */
/*
  == Colors
  == Spacings
  == Formage
*/


/* ==================== */
/* == Colors
/* ==================== */

$colors: (
  dominant: (
    base: #444,
    light: mediumblue,
    dark: black,
    contrast: white
  ),
  secondary: (
    base: mediumblue,
    light: deepskyblue,
    dark: DarkBlue,
    contrast: white
  ),
  accent: (
    base: rebeccapurple,
    light: blueviolet,
    dark: indigo,
    contrast: white
  ),
  muted: (
    base: gray,
    light: darkgray,
    contrast: black
  ),
  alert: (
    base: crimson,
    dark: firebrick,
    contrast: white
  ),
  success: (
    base: springgreen,
    dark: mediumseagreen,
    contrast: #444
  ),
  default: (
    base: dimgray,
    secondary: whitesmoke,
    contrast: white
  )
);

$blank: str-replace(to-string(palette( accent )), "#", "%23");
$blank-focus: str-replace(to-string(palette( accent, dark )), "#", "%23");


/* ==================== */
/* == Spacings
/* ==================== */

$full-width: false !default;
$width: em( 1280 ) !default;
$gutter: rem( 16 ) !default;


/* ==================== */
/* == Formage
/* ==================== */

$form-is-normalize: true;
$form-is-box-sizing: true;
$form-is-visually-hidden: true;

$form-input-padding: em( 8 );
$form-input-width: 400;
$form-input-background: palette( default, secondary );

$form-border-radius: em( 4 );
$form-border-color: palette( dominant, dark );
$form-border-shadow: palette( dominant, dark );

$form-button-background: palette( dominant, dark );
$form-button-border: palette( dominant, dark );
$form-button-color: palette( dominant, contrast );

$form-screen-small: 768;

$form-placeholder: palette( muted, light );

$form-help: palette( muted );
$form-error: palette( alert, dark );
$form-valid: palette( success );