/* ==================== */
/* == Buttons
/* ==================== */

/**
 * 1. High contrast mode helper
 ** @see http://fr.slideshare.net/TheZero1/webexpo-highcontrast (slide 11)
 * 2. Ensure outline stay visible in High contrast mode
 ** @see https://accessibility.blog.gov.uk/2018/08/01/supporting-users-who-change-colours-on-gov-uk/
 */
#{$form-buttons} {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: $gutter / 4;
  color: var(--contrast);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.5;
  margin: $gutter / 2 0;
  padding: $gutter / 2;
  vertical-align: middle;
  transition: all 300ms map-get( $timing-functions, 'move' );
  width: auto;
  appearance: none;

  &:hover {
    border: 1px solid var(--accent-light);
    background-color: var(--accent-light);
  }

  &:focus,
  &:active,
  &[aria-expanded="true"] {
    border: 1px solid var(--accent-dark);
    background-color: var(--accent-dark);
  }

  &:focus {
    box-shadow: 0 0 0 rem( 2 ) var(--accent-light);
    outline-color: transparent; /* 2 */
  }

  &:active,
  &[aria-expanded="true"] {
    transform: translateY( rem( 2 ) );
  }

  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: var(--default);
      box-shadow: none;
      color: var(--default-secondary);
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
