/* ==================== */
/* == Buttons
/* ==================== */

/**
 * 1. High contrast mode helper
 ** @see http://fr.slideshare.net/TheZero1/webexpo-highcontrast (slide 11)
 * 2. Ensure outline stay visible in High contrast mode
 ** @see https://accessibility.blog.gov.uk/2018/08/01/supporting-users-who-change-colours-on-gov-uk/
 */
#{$form-buttons} {
  background-color: palette( accent );
  border: 1px solid palette( accent );
  border-radius: $gutter / 4;
  color: palette( dominant, contrast );
  font-family: inherit; // Fix typo inputs
  font-size: 1em; // Fix typo inputs
  line-height: 1.5;
  margin: $gutter / 2 0;
  padding: $gutter / 2;
  vertical-align: middle;
  transition: all 300ms map-get( $timing-functions, 'move' );
  width: auto;
  appearance: none;

  &:hover {
    border: 1px solid palette( accent, light );
    background-color: palette( accent, light );
  }

  &:focus,
  &:active,
  &[aria-expanded="true"] {
    border: 1px solid palette( accent, dark );
    background-color: palette( accent, dark );
  }

  &:focus {
    box-shadow: 0 0 0 rem( 2 ) transparentize( palette( accent, light ), .75 );
    outline-color: transparent; /* 2 */
  }

  &:active,
  &[aria-expanded="true"] {
    transform: translateY( rem( 2 ) );
  }

  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: palette( default );
      box-shadow: none;
      color: palette( default, secondary );
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
