/* ==================== */
/* == Images
/* ==================== */

/**
 * 1. Display something if source is unreachable
 * @see https://bitsofco.de/styling-broken-images/
 * 2. This is a line break, like \n.
 * 3. attr() functions returns attribute value, only in content property for now
 * 4. And \A0 is a non-breakable space.
 */
img[alt] {
  display: inline-block;
  font-size: 0;
  max-width: 100%;
  vertical-align: middle;

  &:not([src$=".svg"]) {
    height: auto;
  }

  /* 1 */
  &::after {
    background: var(--contrast);
    display: block;
    content:
      attr( alt )         /* 3 */
      "\A"                /* 2 */
      "—\A0" attr( src ); /* 4 */
    font-size: 1rem;
    padding: $gutter / 2;
    width: 100%;
    white-space: pre-wrap;
  }
}

svg {
  fill: currentColor;
}

figure {
  background: var(--contrast);
  margin: $gutter auto;
  max-width: 100%;
  overflow: hidden;
  padding: $gutter;

  figcaption {
    display: block;
    font-size: em( 14 );
    padding: $gutter 0;
  }
}

@media screen and (min-width: #{$content-width}) {
  figure {
    min-width: $content-width;
    width: min-content;

    img {
      min-width: min-content;
    }
  }

  li,
  [class*="grid"],
  [class*="columns"] {
    figure {
      min-width: 0;
      width: auto;

      img {
        min-width: 0;
      }
    }
  }

  .deck > figure {
    min-width: 0;
    width: 100%;
  }
}

@media (inverted-colors) {
  img {
    filter: invert(100%);
  }
}

@media screen and (-ms-high-contrast: active) {
  img {
    filter: brightness(1) contrast(1) saturate(1.5);
  }
}
