/* ==================== */
/* == Tables
/* ==================== */

table {
  background: palette( default, contrast );
  border-collapse: collapse;
  caption-side: top;
  font-feature-settings: "tnum";
  margin-bottom: $gutter * 1.5;
  width: 100%;
  vertical-align: top;

  > caption:first-child {
    font-style: italic;
    margin: 0;
    padding: rem( 40 ) $gutter;
  }
}

th,
td {
  padding: $gutter / 2 rem( 12 );
  text-align: left;

  thead &,
  tbody & {
    border-bottom: 1px solid palette( default, secondary );
  }
}

th,
table strong {
  color: palette( dominant, dark );
}

td {
  line-height: 1.25;
  max-width: 100%;
}

tbody {
  border: 1px solid palette( default, secondary );
}
