<article itemscope itemtype="http://schema.org/Article">
	<h2 itemprop="name">Titre d’article</h2>
	<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100" preserveAspectRatio="xMidYMid slice"
			 focusable="false" aria-hidden="true">
		<rect fill="hsl(var(--disabled))" width="100%" height="100%"></rect>
		<text fill="currentColor" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">300×100</text>
	</svg>
	<p itemprop="description">
		Au fond de la darse s’amorce une seconde ligne de trams qui longe le bord de la mer.
		<small>Le tram se compose de six cars, où nombre de voyageurs ont déjà pris place.</small>
		Ces cars sont traînés par <strong>une locomotive électrique</strong>, avec
		<mark>accumulateurs</mark>
		d’une capacité de deux cents ampères-ohms,
		et leur <a href="https://fr.wikipedia.org/wiki/Vitesse">vitesse</a> atteint de quinze à
		<del>dix-huit</del>
		<ins>dix-neuf</ins>
		kilomètres.
	</p>
	<hr>
	<footer>
		<time datetime="2018-02-08" itemprop="datePublished">8 février 2018</time>
		<footer>
</article>
