<div class="dialog" id="dialog">
	<div tabindex="-1" data-a11y-dialog-hide></div>
	<dialog aria-labelledby="dialog-title">
		<div class="d-flex">
			<h1 id="dialog-title" class="h4 no-margin">Dialogue</h1>
			<button data-a11y-dialog-hide type="button"
							class="dialog-close no-background no-border clr-accent ml-auto rounded"
							aria-label="Fermer cette fenêtre modale">
				<svg width="16" height="16" aria-hidden="true" focusable="false">
					<use xlink:href="img/symbol.svg#close"></use>
				</svg>
			</button>
		</div>

		<p>N’êtes-vous pas d’accord&nbsp;?</p>
		<button type="button" data-a11y-dialog-hide>Oh, la ferme&nbsp;!</button>
	</dialog>
</div>

<script>
	(function () {
		document.addEventListener('DOMContentLoaded', function () {
			var el = document.getElementById('dialog');
			var containers = document.querySelectorAll('[role="banner"], [role="banner"] + div, [role="main"], [role="contentinfo"]');
			var dialog = new window.A11yDialog(el, containers);
		});
	}());
</script>
