
[class*="bg-"] {
	* {
		color: inherit;
	}

	a:hover,
	a:focus {
		color: inherit;
		opacity: .75;
	}
}

// Backgrounds
@each $color in alert, success, accent, secondary {
	.bg-#{$color} {
		background-color: var(--#{$color});
		color: var(--contrast);
	}
}

.no-background {
	background: none;
}
