
// ----------------------------- */
// -- Improved visually-hidden
// ----------------------------- */
//
// @author Gaël Poupard
// @see https://www.ffoodd.fr/masquage-accessible-de-pointe/index.html
.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
	border: 0;
	clip-path: inset(50%);
	block-size: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	inline-size: 1px;
	white-space: nowrap;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within){
	position: absolute;
}

.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
	overflow: hidden;
}
