.muted {
	color: hsl(var(--muted)) !important;

	em,
	strong {
		color: hsl(var(--background));
	}
}

@each $color in alert, success, accent, secondary {
	.clr-#{$color} {
		color: hsl(var(--#{$color})) !important;
	}
}
