[class*="--xs"] {
	font-size: .75rem;
	line-height: 1.5;
}

[class*="--s"] {
	font-size: .875rem;
	line-height: 1.5;
}

[class*="--l"] {
	font-size: 1.125rem;
	line-height: 1.05;
}

[class*="--xl"] {
	font-size: 1.5rem;
	line-height: 1.75;
	margin: 3rem 0;
}
