@use "sass:string";
@use "sass:math";
@use "sass:meta";
@use "../01-settings/variables";

///* ==================== */
/* == Helpers
/* ==================== */
.no-border {
	border: 0 !important;
}

.no-list {
	list-style: none !important;
	padding: 0;
}

.no-event {
	pointer-events: none !important;
}

.list-inline {
	> li {
		display: inline;
	}
}

@each $position in 'relative', 'absolute', 'sticky' {
	.p-#{$position} {
		position: string.unquote($position) !important;
	}
}

.d-flex {
	align-items: center;
	display: flex !important;
	flex-wrap: wrap;
}

.d-block {
	display: block !important;
}

.align-top {
	align-items: flex-start !important;
}

.align-end {
	place-self: flex-end !important;
}

.flex-column {
	align-items: flex-start;
	flex-direction: column !important;
}

.fw-400 {
	font-weight: normal !important;
}

.fw-700 {
	font-weight: bold !important;
}

.f-is {
	float: inline-start;
}

// Images
.stretch {
	block-size: 100% !important;
	object-fit: cover;
	object-position: center;
	inline-size: 100%;
}

// RWD
@media screen and (max-width: #{math.div(479, 16)}em) {
	.sm-hidden {
		display: none !important;
	}
}

// Others
.rounded {
	border-radius: 50%;
}
