@charset "UTF-8";
/**
* @author Gaël Poupard
* @lastmodified 2014-06-10
* @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  * @see http://rocssti.nicolas-hoffmann.net/ @author : @Nico3333fr
*/

/* ----------------------------- */
/* ==Base */
/* @note Aucun de ces éléments ne doit être modifié.
/* ----------------------------- */

/* Soft reset */
html,
body,
label {
  margin: 0;
  padding: 0;
}

ul,
ol,
blockquote { @extend .pl2; }

p + p { text-indent: 2em; }

dd {
  margin: 0;
  padding: 0 0 1em 1em;
}

code,
pre,
samp { white-space: pre-wrap; }

dt,
mark { font-weight: bold; }

code { line-height: 1em; }

table { @extend .mb1; }

.m-reset { margin: 0 !important; }

.p-reset { padding: 0 !important; }

.b-reset { border: 0 !important; }

ul,
.ul-reset { list-style: none !important; }

/* Élude la fusion des marges pour les éléments imbriqués */
li {
  &::before {
    content: "‒ ";	
    color: $secondary-color;
    display: inline-block;
    margin-left: -1.2em;
    width: 1.2em;
  }
  
  p,
  ul,
  ol {
    margin-bottom: 0;
    margin-top: 0;
  }
}

/* Balises HTML5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
main { display: block; }

/* Valeurs maximum */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
  height: auto;
  max-width: 100%;
}

/* Vous ne passerez pas ! */
textarea,
table,
td,
th,
code,
pre,
samp,
div {
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  -ms-hyphens:     auto;
  hyphens:         auto;
  word-wrap: break-word;
}

/* Éviter l’interlignage disgracieux */
sup,
sub {
  vertical-align: 0;
  position: relative;
}

sup { bottom: 1ex; }

sub { top: .5ex; }

/* Parce que «les abbr c’est bon pour la planète» (dixit Nicolas Hoffmann dans RÖCSSTI), ceux ayant un title sont signalés */
abbr[title] {
  border-bottom: dotted 1px; /* La couleur est héritée du texte */
  cursor: help;
}

/* Images */
img {
  @extend .alignmiddle;

  .ie8 & {
    width: auto; /* @bugfix @affected IE8 */
  }

  a & { @extend .b-reset; }

  a:focus & { outline: 4px solid; }
}
