/* ==================== */
/* == Layout base
/* ==================== */

body > * {
  background: hsla(var(--default-secondary), .75);
  margin: 0 auto;
  padding: $gutter;

  @if $full-width == false {
    max-width: $width;
  }
}
