/* ==================== */
/* == Layout base
/* ==================== */

body > * {
  background: var(--default-secondary);
  margin: 0 auto;
  padding: $gutter;

  @if $full-width == false {
    max-width: $width;
  }
}
