/* ==================== */
/* == Grid
/* ==================== */

/* -------------------- */
/* -- Columns
 *
 * @note Avoiding break inside children isn't so well supported
 * @see https://caniuse.com/#search=break-inside
/* -------------------- */
[class*="grid"] > *,
[class*="columns"] > * {
  display: block;
  margin-bottom: $gutter;
}

@media screen and (min-width: em(480)) {
  [class*="grid"],
  [class*="columns"] {
    column-gap: $gutter;
    
    > * {
      page-break-inside: avoid; /* 1 */
      break-inside: avoid;      /* 1 */
    }
  }

  @each $number in 2, 3, 4 {
    .grid-#{$number},
    .columns-#{$number} {
      columns: $number;
    }
  }
  
  /* -------------------- */
  /* -- Fixed grid
  /* -------------------- */
  @supports (display: grid) {
    [class*="grid"] {
      display: grid;
      grid-gap: $gutter;
      
      > * {
        margin: 0;
      }
    }

    @each $number in 2, 3, 4 {
      .grid-#{$number} {
        grid-template-columns: repeat(#{$number}, [col] 1fr);
      }
    }

    .grid-1-2 {
      @extend .grid-3;
      
      > *:nth-child(even) {
        grid-column: 1 / span 2;
      }
    }

    .grid-1-3 {
      @extend .grid-4;
      
      > *:nth-child(even) {
        grid-column: 2 / span 3;
      }
    }
    
    .grid-2-1 {
      @extend .grid-3;
      
      > *:nth-child(odd) {
        grid-column: 1 / span 2;
      }
    }

    .grid-3-1 {
      @extend .grid-4;
      
      > *:nth-child(odd) {
        grid-column: 1 / span 3;
      }
    }
  }
}