/* ----------------------------- */
/* -- Navigation
/* ----------------------------- */

nav {
  ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    padding: em( 8 ) em( 16 );
  }

  > ul > li + li {
    margin-left: $gutter;
  }
}

[id="pagination"] {
  li {
    &:first-child a::before {
      content: "← ";
      speak: none;
    }
    
    &:last-child a::after {
      content: " →";
      speak: none;
    }
  }
  
  a {    
    text-decoration: none;
    
    &:hover,
    &:focus {
      background: palette( default, contrast );
    }
  }
  
  [tabindex="-1"] {
    color: palette( muted );
    pointer-events: none;
  }
  
  [aria-current] {
    background: palette( accent );
    color: palette( accent, contrast );
    pointer-events: none;
  }
}

[id="breadcrumb"] {
  li[aria-current] {
    padding-left: $gutter;
  }
  
  li:not(:last-child)::after {
    content: "→";
    speak: none;
  }
}