@use "../01-settings/variables";

/* ==================== */
/* == Cards
 *
 * @note Based on Heydon Pickering's inclusive 06-components
 * @link https://inclusive-components.design/cards/
/* ==================== */

.card {
	--color: hsl(var(--muted-dark));
	--shadow: hsl(var(--muted-dark), .25);
	background: hsl(var(--contrast));
	border: 1px solid;
	border-radius: .25rem;
	color: var(--color);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	transition: box-shadow .3s var(--enter);

	&:hover,
	&:focus-within {
		box-shadow: 0 0 0 .25rem var(--shadow);
	}
}

.card-img {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	block-size: 6rem;
}

.card-text {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-block-end: variables.$gutter;
	order: 1;
	padding: 0 variables.$gutter;

	* {
		color: inherit;
		max-inline-size: 60ch;
	}

	:last-child {
		margin-block-start: auto;
	}
}

.card-title {
	font-size: 1.625rem;
	line-height: 1.2;
	margin: variables.$gutter 0 !important;
}

.card-link {
	text-decoration: none;

	&::before {
		content: "";
		inset: 0;
		position: absolute;
	}

	&:hover,
	&:visited {
		color: inherit;
	}

	&:focus {
		color: inherit;
		text-decoration: underline;
	}

	.card:focus-within &:focus {
		outline-color: transparent;
		text-decoration: none;
	}
}

/* -------------------- */
/* -- Variants
/* -------------------- */

@each $variant in alert, success, accent, default, secondary {
	.card-#{$variant} {
		--color: hsl(var(--#{$variant}-dark));
		--shadow: hsl(var(--#{$variant}), .25);
	}
}
