@use "../01-settings/variables";

/* ==================== */
/* == Cards
 *
 * @note Based on Heydon Pickering's inclusive 06-components
 * @link https://inclusive-components.design/cards/
/* ==================== */

.card {
	--background: hsl(var(--contrast));
	--border: hsl(var(--muted-light));
	--color: hsl(var(--muted-dark));
	--shadow: hsla(var(--muted-dark), .25);
	--text-shadow: var(--background);
	background: var(--background);
	border: 1px solid var(--border);
	border-radius: .25rem;
	color: var(--color);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	transition: box-shadow .3s var(--enter);

	&:hover,
	&:focus-within {
		box-shadow: 0 0 0 .25rem var(--shadow);
	}
}

.card-img {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	height: 6rem;
}

.card-text {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-bottom: variables.$gutter;
	order: 1;
	padding: 0 variables.$gutter;
	text-shadow: 1px 1px 0 var(--text-shadow);

	* {
		color: inherit;
		max-width: 60ch;
	}

	:last-child {
		margin-top: auto;
	}
}

.card-title {
	font-size: 1.625rem;
	line-height: 1.2;
	text-shadow: .125rem .125rem 0 var(--text-shadow);
	margin: variables.$gutter 0 !important;
}

.card-link {
	text-decoration: none;

	&::before {
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	&:hover,
	&:visited {
		color: inherit;
	}

	&:focus {
		color: inherit;
		text-decoration: underline;
	}

	.card:focus-within &:focus {
		outline-color: transparent;
		text-decoration: none;
	}
}

/* -------------------- */
/* -- Variants
/* -------------------- */

@each $variant in alert, success, accent, default, secondary {
	.card-#{$variant} {
		--background: hsl(var(--#{$variant}));
		--border: hsl(var(--#{$variant}-dark));
		--color: hsl(var(--contrast));
		--shadow: hsla(var(--#{$variant}), .25);
		--text-shadow: var(--border);
	}
}
