{% macro pie(term='', definition='', unit='', title='', start='0', color='') %}
<tr style="--color: {{ color }}">
  <th scope="row">{{ term }}</th>
  <td>
    {{ definition }}{% if unit != '' %}&nbsp;{% if title != '' %}<abbr title="{{ title | e }}" aria-label="{{ title | e }}">{% endif %}{{ unit }}{% if title != '' %}</abbr>{% endif %}{% endif %}
    {% if definition < 50 %}
      <span style="--value: {{ definition }}; --start: {{ start }};"></span>
    {% else %}
      <span style="--value: {{ definition }}; --start: {{ start }};" class="over-50"></span>
    {% endif %}
  </td>
{% endmacro %}
