{% macro bar(term='', definition='', unit='', title='', variant='') %}
  {% set id = term | lower | replace(":", "") | replace(" ", "") | replace(" ", "-") | replace("é", "e") | replace("û", "u") | replace(".", "") %}
  <tr role="row">
    <th role="rowheader" scope="row">{{ term }}</th>
    <td role="cell" style="--value: {{ definition }}">
      <span>{{ definition }}{% if unit != '' %}&nbsp;{% if title != '' %}<abbr title="{{ title | e }}" aria-label="{{ title | e }}">{% endif %}{{ unit }}{% if title != '' %}</abbr>{% endif %}{% endif %}</span>
    </td>
  </tr>
{% endmacro %}
