@use "../settings/variables";

/* ==================== */
/* == Buttons
/* ==================== */

/**
 * Better <button> styling, inspired by:
 ** @author Florens Verschelde (@fvsch)
 ** @see https://fvsch.com/styling-buttons/
 */
#{variables.$form-buttons} {
	background-color: hsl(var(--accent));
	border: 1px solid hsl(var(--accent));
	border-radius: variables.$gutter * 0.25;
	color: hsl(var(--contrast));
	cursor: pointer;
	display: inline-block;
	font: inherit;
	line-height: 1.5;
	margin: variables.$gutter * 0.5 0;
	padding: variables.$gutter * 0.5;
	vertical-align: middle;
	text-decoration: none;
	transition: all 300ms var(--move);
	inline-size: auto;
	appearance: none;

	&:hover {
		border: 1px solid hsl(var(--accent-light));
		background-color: hsl(var(--accent-light));
	}

	&:focus,
	&:active,
	&[aria-expanded="true"] {
		border: 1px solid hsl(var(--accent-dark));
		background-color: hsl(var(--accent-dark));
	}

	&:active,
	&[aria-expanded="true"] {
		transform: translateY(.125rem);
	}

	&[disabled] {
		&,
		&:hover,
		&:focus,
		&:active {
			background-color: hsl(var(--muted-dark));
			color: hsl(var(--background));
			cursor: not-allowed;
			pointer-events: none;
		}
	}
}
