@use "../settings/variables";

/* ==================== */
/* == Alerts
/* ==================== */

[role="alert"] {
	background-color: hsl(var(--color) / .1);
	border: .25rem solid hsl(var(--color));
	border-inline-start-width: 1rem;
	contain: content;
	font-weight: bold;
	margin: variables.$gutter variables.$gutter * 0.5;
	padding: 0 variables.$gutter;
}

@each $alert in alert, success, accent, secondary {
	.alert-#{$alert} {
		--color: var(--#{$alert});
	}
}
