@use "sass:math";
@use "../settings/variables";

/* ==================== */
/* == Deck
/* ==================== */

.deck {
	display: grid;
	contain: content;
	grid-gap: variables.$gutter;
	grid-template-columns: repeat(auto-fill, minmax(#{math.div(180rem, 16)}, 1fr));
	grid-auto-flow: dense;

	[class*="card"] {
		border: 1px solid;
		flex-flow: column nowrap;
		block-size: calc(#{math.div(180rem, 16)} * 1.5);
		justify-content: space-between;
		min-inline-size: unset;
		outline: 1px dotted;
		outline-offset: variables.$gutter * -1.75;
		padding: variables.$gutter;
		text-align: center;
		inline-size: math.div(180rem, 16);
		z-index: 0;

		figure {
			inline-size: 100%;
		}

		figcaption {
			margin: 0 auto;
			max-inline-size: calc(100% - #{variables.$gutter * 2.5});
			padding-block-end: 0;

			p {
				hyphens: none;
				line-height: 1.2;
			}
		}

		[class*="--l"] {
			border: variables.$gutter * 0.25 solid currentColor;
			box-sizing: content-box;
			block-size: variables.$gutter * 2;
			justify-content: center;
			margin: 0 auto 0 0;
			inline-size: variables.$gutter * 2;
			z-index: 2;
		}

		&::after {
			content: "";
			display: flex;
			block-size: variables.$gutter * 2.5;
			inline-size: variables.$gutter * 2.5;
		}
	}

	/**
	 * @note Using element() function
	 *
	 * @note Based on Vincent De Oliveira's work:
	 * @link http://iamvdo.me/blog/la-fonction-element-en-css
	 * @author Vincent De Oliveira
	 */
	@supports (background: -moz-element(var(--card, 1))) {
		[class*="card"]::after {
			background: -moz-element(var(--card, 1)) no-repeat bottom right;
			margin-inline-start: auto;
			position: relative;
			z-index: 2;
		}
	}
}
