/* ==================== */
/* == Pagination
/* ==================== */

[id="pagination"] {
	li {
		&:first-child a {
			padding-inline-start: 0;
		}

		&:last-child a {
			padding-inline-end: 0;
		}

		&:first-child a::before,
		&:last-child a::after {
			content: "←";
			display: inline-block;
			padding-inline: 1ch;
			speak: none;
			transform: scaleX(calc(1 * var(--is-rtl, 1)));
		}

		&:last-child a::after {
			transform: scaleX(calc(-1 * var(--is-rtl, 1)));
		}
	}

	a {
		text-decoration: none;

		&:not([aria-current]):hover,
		&:not([aria-current]):focus {
			background: var(--contrast);
		}
	}

	[tabindex="-1"] {
		color: var(--muted);
		pointer-events: none;
	}

	[aria-current] {
		background: var(--accent);
		border: 0;
		color: var(--contrast);
		pointer-events: none;
	}
}
