@use "../abstracts/functions";

/* ==================== */
/* == Pagination
/* ==================== */

[id="pagination"] {
	li {
		&:first-child a::before {
			content: "← ";
			speak: none;
		}

		&:last-child a::after {
			content: " →";
			speak: none;
		}
	}

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			background: functions.hsl(var(--contrast));
		}
	}

	[tabindex="-1"] {
		color: functions.hsl(var(--muted));
		pointer-events: none;
	}

	[aria-current] {
		background: functions.hsl(var(--accent));
		color: functions.hsl(var(--contrast));
		pointer-events: none;
	}
}
