@use "sass:math";
@use "../settings/variables";

/* ==================== */
/* == Palette
/* ==================== */

.palette {
	display: grid;
	contain: content;
	gap: variables.$gutter;
	grid-template-columns: repeat(auto-fill, minmax(#{math.div(180rem, 16)}, 1fr));
	grid-auto-flow: dense;

	figure {
		min-inline-size: 0;
		inline-size: 100%;
	}

	[class*="grid"] {
		gap: variables.$gutter;
	}
}
