@use "../abstracts/functions";
@use "../abstracts/variables";

/* ==================== */
/* == Palette
/* ==================== */

.palette {
	display: grid;
	grid-gap: variables.$gutter;
	grid-template-columns: repeat(auto-fill, minmax(#{functions.rem( 180 )}, 1fr));
	grid-auto-flow: dense;

	figure {
		min-width: 0;
		width: 100%;
	}

	[class*="grid"] {
		grid-gap: variables.$gutter;
	}
}
