/* ==================== */
/* == Dialog
 *
 * @note Based on a11y-dialog
 * @link https://github.com/edenspiekermann/a11y-dialog
/* ==================== */

.dialog[aria-hidden="true"] {
  display: none;
}

.dialog-overlay {
  background: rgba(palette( default ), .5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 12;
}

.dialog-content {
  background: palette( default, contrast );
  border-radius: rem( 6 );
  left: 50%;
  padding: $gutter * 2;
  position: fixed;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 13;
}
