@charset "UTF-8";
/**
 * @author          Luc Poupard
 * @lastmodified    2017-03-28
 * @note            Formage Variables
 */


/* ----------------------------- */
/* Table of Content */
/* ----------------------------- */
/*
    == Conditionnal
        -- Dependencies
        -- Layout options
    == Selectors
    == Design
*/


/* == @section Conditionnal ==================== */
/* -- @subsection Dependencies ---------- */
/**
 * Is normalize used?
 * true = yes / false = no
 */
$form-is-normalize          : false !default;

/**
 * Is box-sizing: border-box used?
 * true = yes / false = no
 */
$form-is-box-sizing         : false !default;

/**
 * If .visually-hidden class used?
 * true = yes / false = no
 */
$form-is-visually-hidden    : false !default;


/* -- @subsection Layout options ---------- */
/**
 * Is the global font-size smaller than 16px?
 * true = yes / false = no
 */
$form-is-small-font         : false !default;

/**
 * Do you want to position labels on top of fields?
 * true = yes / false = no
 * If false: labels will be displayed on the left of fields
 */
$form-is-label-vertical     : true !default;

/**
 * Do you want to use custom styles for select tag?
 * true = yes / false = no
 */
$form-is-select             : false !default;

/**
 * Do you want to hide spinners on number type inputs?
 * true = yes / false = no
 */
$form-is-number             : false !default;


/* == @section Selectors ==================== */
$form-fields                : ( 'input[type="text"], input[type="number"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="color"], input[type="file"], textarea' );
$form-radio-checkbox        : ( 'input[type="checkbox"], input[type="radio"]' );
$form-buttons               : ( 'input[type="submit"], input[type="reset"], input[type="button"], button, .button' );


/* == @section Design ==================== */
$form-font-size             : 16 !default;
$form-line-height           : 1.5 !default;

$form-label-width           : 30% !default;

$form-input-padding         : .5em !default;
$form-input-width           : 400 !default;
$form-input-background      : #fff !default;

$form-border-radius         : .25em !default;
$form-border-color          : #000 !default;
$form-border-shadow         : #000 !default;

$form-button-background     : #c00 !default;
$form-button-border         : #c00 !default;
$form-button-color          : #fff !default;

$form-screen-small          : 480 !default;

$form-placeholder           : #ccc !default;

$form-help                  : #777 !default;
$form-error                 : #c00 !default;
$form-valid                 : #2e8b57 !default;
