html[data-theme="dark"] {
	color-scheme: dark;

	--hue: 210;
	--lightness: 60%;
	--treshold: 40%;
	--rotation: calc(var(--hue) - 30);
	--brighter: calc(var(--lightness) / var(--light-scale));
	--darker: calc(var(--lightness) * var(--light-scale));
	--disabled: var(--neutral) 10%;
	--background: var(--neutral) 20%;
	--success-light: var(--right) 100% calc(var(--lightness) / 2);
	--success-dark: var(--right) 100% var(--brighter);

	img {
		filter: brightness(.8) contrast(1.2);
	}
}

@media screen and (prefers-color-scheme: dark) {
	.no-js,
	html:not([data-theme="light"]) {
		color-scheme: dark;

		--hue: 210;
		--lightness: 60%;
		--treshold: 40%;
		--rotation: calc(var(--hue) - 30); // 1
		--brighter: calc(var(--lightness) / var(--light-scale));
		--darker: calc(var(--lightness) * var(--light-scale));
		--disabled: var(--neutral) 10%;
		--background: var(--neutral) 20%;
		--success-light: var(--right) 100% calc(var(--lightness) / 2);
		--success-dark: var(--right) 100% var(--brighter);

		img {
			filter: brightness(.8) contrast(1.2);
		}
	}
}
