// ====================
// == High contrast
//
// @note Using system color keywords
// @link https://drafts.csswg.org/css-color/#css-system-colors
// @link https://adrianroselli.com/2021/02/whcm-and-system-colors.html
// @link https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/
// ====================
@media (prefers-contrast: more) {
	html:where([lang]) {
		--secondary: LinkText;
		--secondary-light: LinkText;
		--secondary-lighter: LinkText;
		--secondary-dark: LinkText;
		--accent: Highlight;
		--accent-light: Highlight;
		--accent-dark: Highlight;
		--alert: ActiveText;
		--alert-light: ActiveText;
		--alert-dark: ActiveText;
		--success: VisitedText;
		--success-light: VisitedText;
		--success-lighter: VisitedText;
		--success-dark: VisitedText;
		--contrast: Canvas;
		--contrast-o-50: CanvasText;
		--contrast-inverse: CanvasText;
		--muted: CanvasText;
		--muted-light: CanvasText;
		--muted-lighter: CanvasText;
		--muted-dark: CanvasText;
		--disabled: Canvas;
		--background: Canvas;
	}
}
