@use "sass:math";

/* ----------------------------- */
/* Table of contents */
/* ----------------------------- */
/*
  == Paths
  == Spacings
  == Formage
*/

/* ==================== */
/* == Paths
/* ==================== */
$path: "../" !default;


/* ==================== */
/* == Spacings
/* ==================== */
$full-width: false !default;
$width: math.div(1024em, 16) !default;
$gutter: 1rem !default;
$content-width: math.div(600em, 16) !default;


/* ==================== */
/* == Formage
/* ==================== */
$form-fields: ('input[type="text"], input[type="number"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="color"], input[type="file"], textarea');
$form-radio-checkbox: ('input[type="checkbox"], input[type="radio"]');
$form-buttons: ('.button, button, [type="submit"], [type="reset"], [type="button"]');
