@charset "UTF-8";

/* ----------------------------- */
/* Table of contents */
/* ----------------------------- */
/*
  == Imports
  == Base
  == Helpers
     == Improved sr-only
  == Colors
  == Typography
  == Images
  == Tables
  == Grid
  == Forms
  == Footnotes
  == Tooltips
  == Header
  == Footer


/* ==================== */
/* == Imports
/* ==================== */

@import "mixins";
@import "functions";
@import "normalize";
@import "system-font";


/* ==================== */
/* == Base
/* ==================== */

html[lang] {
  box-sizing: border-box;
  position: relative;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

code,
pre,
video,
svg {
  max-width: 100%;
}

li {
  p,
  ul,
  ol {
    margin-bottom: 0;
    margin-top: 0;
  }
}

[hidden],
[role="alert"]:empty {
  display: none;
}

main {
  margin: 0 auto;
}


/* ==================== */
/* == Helpers
/* ==================== */

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: 0 !important;
}

.no-list {
  list-style: none !important;
  padding: 0;
}

.d-inbl {
  display: inline-block;
  vertical-align: top;
}

/* ----------------------------- */
/* -- Improved sr-only
/* ----------------------------- */
/*
 * @author Gaël Poupard
 ** @note Based on Yahoo!'s technique
 ** @author Thierry Koblentz
 ** @see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
 ** 1.
 *** @note `clip` is deprecated but works everywhere
 *** @see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
 ** 2.
 *** @note `clip-path` is the future-proof version, but not very well supported yet
 *** @see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
 *** @see http://caniuse.com/#search=clip-path
 *** @author Yvain Liechti
 *** @see https://twitter.com/ryuran78/status/778943389819604992
 ** 3.
 *** @note preventing text to be condensed
 *** author J. Renée Beach
 *** @see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 *** @note Drupal 8 goes with word-wrap: normal instead
 *** @see https://www.drupal.org/node/2045151
 *** @see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
 ** 4.
 *** @note !important is important
 *** @note Obviously you wanna hide something
 *** @author Harry Roberts
 *** @see http://csswizardry.com/2016/05/the-importance-of-important/
 */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
 * Use in conjunction with .sr-only to only display content when it's focused.
 ** @note Useful for skip links
 ** @see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 ** @note Based on a HTML5 Boilerplate technique, included in Bootstrap
 */
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	clip-path: none !important;
	height: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}


/* ==================== */
/* == Colors
/* ==================== */

$palettes: (
  dominante: (
    base:   #0a2435,
    clair:  lighten( #0a2435, 10 ),
    sombre: darken( #0a2435, 1 )
  ),
  secondaire: (
    base:   #e8680c,
    clair:  lighten( #e8680c, 10 ),
    sombre: darken( #e8680c, 10 )
  ),
  tonique: (
    base:   #27a4ad,
    clair:  lighten( #27a4ad, 10 ),
    sombre: darken( #27a4ad, 10 )
  ),
  inerte: (
    base:    #8398a5,
    x-clair: lighten( #8398a5, 40 ),
    clair:   lighten( #8398a5, 10 ),
    sombre:  darken( #8398a5, 10 )
  ),
  erreur: (
    base: #ff4f0d,
    sombre: darken( #ff4f0d, 10 )
  ),
  succes: (
    base: #14ccaa,
    sombre : darken( #14ccaa, 10 )
  ),
  texte: (
    base: #0a2435,
    secondaire: #fff
  )
);

body {
  background: palette( texte, secondaire );
  color: palette( dominante );
}

/**
 * @note Selection
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/::selection
 * 1. Shadow is required for fake underlines
 */
::selection {
  background-color: palette( secondaire );
  color: palette( texte, secondaire );
  text-shadow: none;
}

a {
  @include underline();
  color: palette( tonique );

  &:hover,
  &:focus {
    color: palette( tonique, sombre );
  }

  &:active,
  &:visited {
    opacity: .75;
  }
}

main address {
  font-size: em( 22 );
  font-style: normal;
  padding: 0 0 0 2em;
}

.inerte {
  color: palette( inerte ) !important;

  em,
  strong {
    color: palette( texte, secondaire );
  }
}


/* ==================== */
/* == Typography
/* ==================== */

body {
  counter-reset: footnotes;
  font: normal 400 1em/1.5 system;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeSpeed;
}

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
caption {
  font-size: 1em;
  line-height: 1.5;
  margin: 1.5em 0;
}

.hn {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

h1,
.h1 {
  color: palette( secondaire );
  font-size: em( 46 );
  line-height: 1.0434;
  margin:  em( 48, 46 ) 0 em( 24, 46 );
  @extend .hn;

  &::first-line {
    color: palette( dominante );
  }

  strong {
    color: palette( dominante );
  }
}

h2,
.h2 {
  color: palette( tonique );
  font-size: em( 40 );
  line-height: 1.2;
  margin: em( 48, 40 ) 0 em( 24, 40 );
  @extend .hn;
}

h3,
.h3 {
  color: palette( dominante );
  font-size: em( 36 );
  line-height: 1.3334;
  margin: em( 48, 36 ) 0 em( 24, 36 );
  @extend .hn;
}

h4,
.h4 {
  font-size: em( 30 );
  line-height: 1.6;
  margin: em( 48, 30 ) 0 em( 24, 30 );
  @extend .hn;
}

h5,
.h5 {
  font-size: em( 26 );
  line-height: 1.8462;
  margin: em( 48, 26 ) 0 em( 24, 26 );
  @extend .hn;
}

h6,
th,
.h6 {
  font-size: em( 22 );
  line-height: 1.0909;
  margin: em( 48, 22 ) 0 em( 24, 22 );
  @extend .hn;
}

textarea,
table,
td,
th,
div,
p {
  word-wrap: break-word;
  hyphens: auto;
}

table {
  margin-bottom: 1.5em;
  max-width: 100%;
}

blockquote {
  font-style: italic;
  max-width: 100%;
  padding-left: em( 112 );
  position: relative;
  quotes: "«\00A0" "\00A0»";
  z-index: 2;

  &::before {
    color: palette( inerte, clair );
    content: open-quote;
    font-size: 10em;
    font-weight: 700;
    left: 0;
    line-height: 0;
    opacity: .25;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  footer {
    font-style: normal;
    @extend .hn;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
  text-transform: uppercase;
}

small,
.small {
  font-size: em( 14 );
}

b,
dt,
strong {
  @extend .hn;
}

cite {
  color: palette( tonique );
  font-style: normal;
  @extend .hn;
}


/* ==================== */
/* == Images
/* ==================== */

/**
 * 1. DIsplay something if source is unreachable
 * @see http://bitsofco.de/styling-broken-images/
 * 2. This is a line break, like \n.
 * 3. attr() functions returns attribute value, only in content property for now
 * 4. And \A0 is a non-breakable space.
 */
img[alt] {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: middle;

  &:not([src$=".svg"]) {
    height: auto;
  }

  /* 1 */
  &::after {
    background: palette( inerte, x-clair );
    bottom: 0;
    content:
      "Couldn't find picture  (╯°□°）╯︵ ┻━┻
      \A"                 /* 2 */
      attr( alt )         /* 3 */
      "\A"
      "—\A0" attr( src ); /* 4 */
    left: 0;
    padding: 1em;
    position: absolute;
    top: 0;
    width: 100%;
    white-space: pre-wrap;
  }
}

figure[role="group"] {
  margin: 1.5em auto;
  max-width: 100%;
}

figure[role="group"] figcaption {
  display: block;
  font-size: em( 14 );
  padding: 1em 0;
}


/* ==================== */
/* == Tables
/* ==================== */

/**
 * 1. @note Scrollable tables
 * @author David Bushell
 * @see http://dbushell.com/2016/03/04/css-only-responsive-tables/
 * @see http://codepen.io/dbushell/full/8e6a1ee85418f3c5abe839647dbcdec5/
 */
table {
  border-collapse: collapse;
  caption-side: top;
  display: inline-block; /* 1 */
  overflow-x: auto;      /* 1 */
  vertical-align: top;
  white-space: nowrap;   /* 1 */
}

th,
td {
  padding: .5em rem( 12 );
  text-align: left;

  thead &,
  tbody & {
    border-bottom: 1px solid lighten( palette( inerte, clair ), 25 );
  }
}

td {
  line-height: 1.25;
  max-width: 100%;
}

table > caption:first-child {
  font-style: italic;
  margin: 0;
  padding: 2.5em 1em;
}

tbody {
  border: 1px solid lighten( palette( inerte, clair ), 25 );

  tr > * + * {
    border-left: 1px solid lighten( palette( inerte, clair ), 25 );
  }
}

/**
 * @note Scrollable tables's shadows on scroll
 * @author David Bushell
 * @see http://dbushell.com/2016/03/04/css-only-responsive-tables/
 * @see http://codepen.io/dbushell/full/8e6a1ee85418f3c5abe839647dbcdec5/
 */
@media only screen and (max-width: em( 768 )) {
  table {
    background:
      radial-gradient(
          ellipse at left,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 75%) 0 center,
      radial-gradient(
          ellipse at right,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 75%) 100% center;
    background-attachment: scroll, scroll;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: em( 10 ) 100%, em( 10 ) 100%;
    border: 1px solid lighten( palette( inerte, clair ), 25 );
    max-width: 100% !important;        /* 1 */
    -webkit-overflow-scrolling: touch; /* 1 */
  }

  td:first-child,
  th:first-child {
    background-image: linear-gradient( to right, #fff 50%, rgba(255, 255, 255, 0) 100% );
    background-repeat: no-repeat;
    background-size: em( 20 ) 100%;
  }

  td:last-child,
  th:last-child {
    background-image: linear-gradient( to left, #fff 50%, rgba(255, 255, 255, 0) 100% );
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: em( 20 ) 100%;
  }

  > caption:first-child {
    background-image:
      linear-gradient(
          to left,
          #fff 50%,
          rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
          to right,
          #fff 50%,
          rgba(255, 255, 255, 0) 100%
      );
    background-repeat: no-repeat;
    background-position: 100% 0, 0 0;
    background-size: em( 20 ) 100%, em( 20 ) 100%;
    border-bottom: 1px solid lighten( palette( inerte, clair ), 25 );
  }
}

@media only screen and (min-width: em( 768 )) {
  table {
    caption-side: bottom;
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  th,
  td {
    padding: .75em rem( 22 );
  }

  tbody th,
  tbody td {
    background: rgba( 255, 255, 255, .5 );
  }

  tbody tr:nth-child(odd) {
    background: lighten( palette( inerte, x-clair ), 1 );
  }
}


/* ==================== */
/* == Buttons
/* ==================== */

/**
 * 1. High contrast mode helper
 ** @see http://fr.slideshare.net/TheZero1/webexpo-highcontrast (slide 11)
 */
button[type] {
  background-color: palette( secondaire );
  background-image:
    linear-gradient(
      rgba( 255, 255, 255, .1 ),
      rgba( 0, 0, 0, .1 )
    );
  border: 1px solid transparent; /* 1 */
  box-shadow:
    inset 0 2px rgba( 255, 255, 255, .2 ),
    0 .25em 0 -.1em rgba( 0, 0, 0, .1 );
  color: palette( texte, secondaire );
  display: inline-block;
  margin: .5em auto;
  outline: 1px solid rgba( 0, 0, 0, .15 );
  outline-offset: -1px;
  padding: .25em .5em .3em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: .05em .05em rgba( 0, 0, 0, .2 );
  top: 0;
  transition: all 300ms;

  &:hover,
  &:focus,
  &:active,
  &[aria-expanded="true"] {
    background-color: palette( secondaire, sombre );
    box-shadow:
      inset 0 2px rgba( 255, 255, 255, .2 ),
      0 .25em 0 -.1em rgba( 0, 0, 0, .15 );
    color: palette( texte, secondaire );
    outline: 1px solid rgba( 0, 0, 0, .15 );
    outline-offset: -1px;
  }

  &:active,
  &[aria-expanded="true"] {
    box-shadow:
      inset 0 2px rgba( 255, 255, 255, .2 ),
      0 .125em 0 -.1em rgba( 0, 0, 0, .15 );
    top: .125em;
  }

  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: palette( inerte, sombre );
      color: palette( inerte, x-clair );
      cursor: not-allowed;
    }
  }
}

/* Sizing */
.btn--s {
  font-size: .875rem;
  line-height: 1.5;
}

.btn--l {
  font-size: 1.25rem;
  line-height: 1.2;
}

.btn--xl {
  font-size: 1.875rem;
  line-height: 1.6;
  margin: 1.2em 0;
}

/* Colors */
.btn--dominante {
  background-color: palette( dominante, clair );

  &:hover,
  &:focus,
  &:active,
  &[aria-expanded="true"] {
    background-color: palette( dominante, sombre );
  }
}

.btn--tonique {
  background-color: palette( tonique );

  &:hover,
  &:focus,
  &:active,
  &[aria-expanded="true"] {
    background-color: palette( tonique, sombre );
  }
}

.btn--inerte {
  background-color: palette( inerte );

  &:hover,
  &:focus,
  &:active,
  &[aria-expanded="true"] {
    background-color: palette( inerte, sombre );
  }
}


/* ==================== */
/* == Grid
/* ==================== */

/**
 * @note Fukol grid
 * @author Heydon Pickering
 * @see https://github.com/Heydon/fukol-grids
 **
 * @note column naming using fractions
 * @author Gaël Poupard
 * @note You might extend it to match your grid:
 * @see https://unicode-table.com/en/blocks/number-forms/
 */
$gutter: 1rem !default;

.grid {
  display: flex;    /* 1 */
  flex-wrap: wrap;  /* 2 */
  margin: -$gutter; /* 5 */
}

.grid > * {
  flex: 1 0 5em;    /* 3 */
  margin: $gutter;  /* 4 */
}

@media screen and (min-width: em( 768 )) {
  .½ {
    width: 50%;
  }

  .¼ {
    width: 25%;
  }

  .¾ {
    width: 75%;
  }

  .⅓ {
    width: calc( 100% / 3 );
  }

  .⅔ {
    width: calc( (100% / 3) * 2 );
  }
}


/* ==================== */
/* == Forms
/* ==================== */

form {
  > p {
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  > * + * {
    margin-top: 2rem;
  }
}

fieldset {
  background: #fff;
  border: .1rem solid lighten( palette( inerte ), 25 );
  margin: 1.5em 0 0;

  &::selection {
    background-color: palette( tonique, sombre );
    color: palette( texte, secondaire );
  }
}

fieldset > legend:first-child {
  color: palette( tonique );
  font-weight: 700;
}

label[for] {
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: .5em;
  position: relative;
  transition: color 300ms ease-in;

  .label {
    left: .5em;
    margin: 0;
    padding: 0 0 0 em( 4 );
    position: absolute;
    right: .5em;
    top: .5em;
    transition: color 300ms ease-in;
    z-index: 2;
  }
}

select,
textarea,
input[type="tel"],
input[type="url"],
input[type="text"],
input[type="file"],
input[type="email"],
input[type="number"],
input[type="password"] {
  background: transparent;
  border: 0;
  font-size: 1.375em;
  line-height: 1.0909;
  margin-top: 1.5em;
  outline: 8em solid transparent;
  padding: em( 4 );
  transition: all 300ms ease-in;
  width: 100%;

  &:hover,
  &:focus {
    background: lighten( palette( tonique, clair ), 46 );
    color: palette( tonique );
    outline-color: lighten( palette( tonique, clair ), 46 );
    transition: all 300ms ease-out;

    + .label {
      color: palette( tonique );
    }
  }

  &::selection {
    background-color: palette( tonique, sombre );
    color: palette( texte, secondaire );
  }
}

input[type] {
  max-width: 100%;
  vertical-align: middle;
}

input[type="file"] {
  font-size: 1em;
  line-height: 1.5;
}

textarea {
  max-width: 100%;
  resize: vertical;
}

[type="radio"],
[type="checkbox"] {

  @extend .sr-only;

  + label[for] {
    background: none;
    border: 0;
    display: inline-block;
    padding: .5em .5em .5em 0;
    vertical-align: middle;

    &::before {
      content: "\2610";
      font: normal normal normal 1em/1 system !important;
      speak: none;
      padding: 0 em( 4 ) 0 0;
      text-transform: none;
    }
  }

  &:checked + label[for]::before {
    content: "\2611";
  }

  &:hover + label[for],
  &:focus + label[for],
  &:checked + label[for] {
    color: palette( tonique );
  }
}

[type="radio"] {
  + label[for]::before {
    content: "\25cb";
  }

  &:checked + label[for]::before {
    content: "\25cf";
  }
}

[type="radio"] ~ [type="radio"] + label[for],
[type="checkbox"] ~ [type="checkbox"] + label[for] {
  margin: 0 0 0 1em;
}

/**
 * 1. Removes default appearance
 * 2. Removes arrow for IE
 * 3. Remove weird focus on Firefox
 */
select {
  appearance: none;         /* 1 */
  border: 1px solid palette( inerte, clair );
  border-radius: 0;
  padding: .1em;

  &::-ms-expand {
    display: none;          /* 2 */
  }

  &:-moz-focusring {
    color: transparent;     /* 3 */
    text-shadow: 0 0 0 #000;/* 3 */
  }

  + .label {
    position: relative;
  }

  // Using ::before because ::after is used for red mandatory mark
  + .label::before {
    content: "\00A0\25bc";
    position: absolute;
    right: em( 8 );
    top: em( 40 );
  }
}

input,
select,
textarea {
  &[readonly],
  &[type="readonly"] {
    &,
    &:hover,
    &:focus,
    & + .label,
    &:hover + .label,
    &:focus + .label {
      background: lighten( palette( inerte, clair ), 46 );
      color: palette( inerte );
      outline-color: lighten( palette( inerte, clair ), 46 );
      cursor: default;
      opacity: .8;
    }
  }

  &[disabled] {
    &,
    &:hover,
    &:focus,
    & + .label,
    &:hover + .label,
    &:focus + .label {
      background: lighten( palette( inerte, clair ), 46 );
      color: palette( inerte );
      outline-color: lighten( palette( inerte, clair ), 46 );
      cursor: not-allowed;
      opacity: .4;
    }
  }
}

[aria-required] + .label::after {
  color: palette( erreur );
  content: "\00A0*";
}

[aria-describedby] ~ [id^="note"] {
  font-size: em( 12 );
  position: absolute;
  right: 1em;
  top: em( 14, 12 );
  z-index: 3;
}

[aria-invalid="true"] {
  border-color: palette( erreur );

  &,
  & + .label,
  & ~ [role="alert"] {
    color: palette( erreur );
  }
}


/* ==================== */
/* == Footnotes
/* ==================== */
/**
 * Footnotes
 ** 1. Incrementing counter
 ** 2. Removes fake underline

 */
a[id^="footnote-"][aria-describedby] {
  counter-increment: footnotes; /* 1 */
  color: inherit;               /* 2 */
  cursor: default;              /* 2 */
  outline: none;                /* 2 */

  @include underline-reset();   /* 2 */

  &::after {
    content: "[" counter(footnotes) "]";
    vertical-align: super;
    font-size: rem( 14 );
    font-weight: 400;
    margin-left: 2px;

    @include underline();
    color: palette( tonique );
    cursor: pointer;
  }
}

footer[id="footnotes"] {
  max-width: 75ch;
}

/**
 * Adding an effect when receiving focus
 */
@keyframes footnotes {
  from {
    color: palette( succes );
  } to {
    color: palette( dominante );
  }
}

[role="note"]:target {
  animation: footnotes 1600ms ease-in;
}


/* ==================== */
/* == Tooltips
/* ==================== */
.tooltip {
  display: inline-block;
  position: relative;

  button {
    margin: 0;
  }
}

[role="tooltip"] {
  background: palette( dominante, clair );
  bottom: calc( 100% + .5em );
  color: palette( texte, secondaire );
  left: 50%;
  opacity: 0;
  padding: .25em .5em .3em;
  pointer-events: none;
  position: absolute;
  transform-origin: 50% calc( 100% + 10px );
  transform:
    perspective( 1000px )
    rotate3d( 1, 0, 0, 45deg )
    translateX( -50% );
  transition:
    opacity .2s ease-in,
    transform .2s ease-in,
    visibility 0s linear .2s;
  visibility: hidden;

  &::after {
    border-left: em( 4 ) solid transparent;
    border-right: em( 4 ) solid transparent;
    border-top: em( 4 ) solid palette( dominante, clair );
    bottom: em( -4 );
    content: "";
    left: calc( 50% - .25em );
    position: absolute;
  }
}

.tooltip {
  button:hover + [role="tooltip"],
  button:focus + [role="tooltip"] {
    opacity: 1;
    pointer-events: auto;
    transform:
      perspective( 1000px )
      rotate3d( 1, 0, 0, 0deg )
      translateX( -50% );
    transition:
      opacity .2s ease-out,
      transform .2s ease-out;
    visibility: visible;
  }
}



/* ==================== */
/* == Header
/* ==================== */
header[role="banner"] {

}


/* ==================== */
/* == Footer
/* ==================== */
footer[role="contentinfo"] {

}
