@use "../abstracts/functions";
@use "../abstracts/variables";

/* ==================== */
/* == Buttons
/* ==================== */

/**
 * 1. High contrast mode helper
 ** @see http://fr.slideshare.net/TheZero1/webexpo-highcontrast (slide 11)
 * 2. Ensure outline stay visible in High contrast mode
 ** @see https://accessibility.blog.gov.uk/2018/08/01/supporting-users-who-change-colours-on-gov-uk/
 * 3. Better <button> styling
 ** @author Florens Verschelde (@fvsch)
 ** @see https://fvsch.com/styling-buttons/
 */
#{variables.$form-buttons} {
	background-color: functions.hsl(var(--accent));
	border: 1px solid functions.hsl(var(--accent));
	border-radius: variables.$gutter * 0.25;
	color: functions.hsl(var(--contrast));
	cursor: pointer; /* 3 */
	display: inline-block;
	font: inherit; /* 3 */
	line-height: 1.5;
	margin: variables.$gutter * 0.5 0;
	outline: none; /* 2 */
	padding: variables.$gutter * 0.5;
	vertical-align: middle;
	text-decoration: none;
	transition: all 300ms var(--move);
	width: auto;
	appearance: none;

	&:hover {
		border: 1px solid functions.hsl(var(--accent-light));
		background-color: functions.hsl(var(--accent-light));
	}

	&:focus,
	&:active,
	&[aria-expanded="true"] {
		border: 1px solid functions.hsl(var(--accent-dark));
		background-color: functions.hsl(var(--accent-dark));
	}

	&:focus {
		box-shadow: 0 0 0 functions.rem(2) functions.hsla(var(--accent-light), .25);
		outline: functions.rem(2) solid transparent; /* 2 */
	}

	&:-moz-focusring {
		outline: functions.rem(2) solid transparent; /* 2 */
	}

	&:active,
	&[aria-expanded="true"] {
		transform: translateY(functions.rem(2));
	}

	&[disabled] {
		&,
		&:hover,
		&:focus,
		&:active {
			background-color: functions.hsl(var(--muted-dark));
			box-shadow: none;
			color: functions.hsl(var(--background));
			cursor: not-allowed;
			pointer-events: none;
		}
	}
}
