@use "sass:math";
@use "../settings/placeholders";

/* ==================== */
/* == Typography
/* ==================== */

p,
ul,
ol,
dl,
pre,
td,
th,
caption {
	font-size: 1em;
	line-height: 1.5;
	margin: math.div(24em, 16) 0;
}

h1,
.h1 {
	color: var(--secondary);
	font-size: math.div(46em, 16);
	line-height: 1.0434;
	@extend .hn;

	strong {
		color: var(--muted-dark);
	}
}

h2,
.h2 {
	color: var(--accent);
	font-size: math.div(40em, 16);
	line-height: 1.2;
	@extend .hn;
}

h3,
.h3 {
	color: var(--muted-dark);
	font-size: math.div(36em, 16);
	line-height: 1.3334;
	@extend .hn;
}

h4,
.h4 {
	font-size: math.div(30em, 16);
	line-height: 1.6;
	@extend .hn;
}

h5,
.h5 {
	font-size: math.div(26em, 16);
	line-height: 1.8462;
	@extend .hn;
}

h6,
.h6 {
	font-size: math.div(22em, 16);
	line-height: 1.0909;
	@extend .hn;
}

td,
th,
div,
table,
textarea {
	hyphens: auto;
	word-wrap: break-word;
}

/**
 * @note Advanced hyphenation
 * @author Richard Rutter
 * @link https://clagnut.com/blog/2395
 */
p,
li,
dd {
	hyphenate-limit-chars: 6 3 2;
	hyphenate-limit-lines: 2;
	hyphenate-limit-last: always;
	hyphenate-limit-zone: 8%;
	hyphens: auto;
	text-wrap: pretty;
	word-wrap: break-word;
}

li {
	p,
	ul,
	ol {
		margin-block: 0;
	}
}
