@use "../settings/variables";

/* ==================== */
/* == Grid
/* ==================== */

[class*="grid"] > *,
[class*="columns"] > * {
	display: inline-block;
	margin-block-end: variables.$gutter * 2;
	max-inline-size: 100%;
}

@media (min-width: #{variables.$content-width}) {
	/* -------------------- */
	/* -- Columns
	 * 1.
	 * @bugfix avoiding weird gaps in Chrome
	 * @affected Chrome
	 * @see https://github.com/twbs/bootstrap/issues/20925
	/* -------------------- */
	[class*="columns"] {
		column-gap: variables.$gutter * 2;
		orphans: 1; /* 1 */
		widows: 1;  /* 1 */

		> * {
			break-inside: avoid;      /* 2 */
		}
	}

	@each $number in 2, 3, 4 {
		.columns-#{$number} {
			columns: $number;
		}
	}

	/* -------------------- */
	/* -- Fixed grid
	/* -------------------- */
	[class*="grid"] {
		display: grid;
		gap: variables.$gutter * 2;
		inline-size: 100%;
	}

	@each $number in 2, 3, 4 {
		.grid-#{$number} {
			grid-template-columns: repeat(#{$number}, [col] 1fr);
		}
	}

	@each $number in 2, 3 {
		.grid-1-#{$number} {
			@extend .grid-#{$number + 1};

			> *:nth-child(even) {
				grid-column: 2 / span $number;
			}
		}

		.grid-#{$number}-1 {
			@extend .grid-#{$number + 1};

			> *:nth-child(odd) {
				grid-column: 1 / span $number;
			}
		}
	}
}
