@use "../abstracts/functions";
@use "../abstracts/variables";

/* ==================== */
/* == Navigation
/* ==================== */

nav {
	ul {
		align-items: center;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		padding: functions.em(8) functions.em(16);
	}

	a[aria-current] {
		border-bottom: functions.em(4) solid;
		color: functions.hsl(var(--accent));

		&:hover,
		&:focus,
		&:active {
			border-bottom: functions.em(4) solid;
		}
	}

	button[aria-current] {
		color: functions.hsl(var(--accent));
	}

	> ul > li + li {
		margin-left: variables.$gutter;
	}
}
