@use "../settings/variables";

/* ==================== */
/* == Navigation
/* ==================== */

nav {
	ul {
		align-items: center;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		padding: .5rem 1rem;
	}

	a[aria-current] {
		border-block-end: .25rem solid;
		color: hsl(var(--accent));

		&:hover,
		&:focus,
		&:active {
			border-block-end: .25rem solid;
		}
	}

	button[aria-current] {
		color: hsl(var(--accent));
	}

	> ul > li + li {
		margin-inline-start: variables.$gutter;
	}
}
