/*! PrismJS 1.11.0
http://prismjs.com/download.html?themes=prism-dark&languages=markup+css+clike+javascript+bash+css-extras+git+json+markdown+php+php-extras+scss */
/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */
/*! purgecss start ignore */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsl(var(--contrast));
}

.token.function,
.token.punctuation {
	color: hsl(var(--rotation) 50% 25%);
}

.token.namespace {
	opacity: .7;
}

.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: hsl(var(--contrast-inverse));
}

.token.selector,
.token.attr-name,
.token.number,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.regex,
.token.important  {
	color: hsl(var(--alert));
}

.token.property,
.token.tag,
.token.boolean,
.token.constant,
.token.symbol,
.token.atrule,
.token.attr-value,
.token.keyword {
	color: hsl(var(--success-dark));
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: hsl(var(--alert));
	text-decoration: line-through;
}

@media screen and (prefers-color-scheme: dark) {
	.no-js,
	html:not([data-theme="light"]) {
		.token.function,
		.token.punctuation {
			color: hsl(var(--secondary));
		}
	}
}
/*! purgecss end ignore */
