/*! PrismJS 1.11.0
http://prismjs.com/download.html?themes=prism-dark&languages=markup+css+clike+javascript+bash+css-extras+git+json+markdown+php+php-extras+scss */
/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */
/*! purgecss start ignore */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
	color: hsl(var(--background));
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: hsl(var(--success-light));
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: hsl(var(--contrast));
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: Orange;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: hsl(var(--success-light));
}

.token.regex,
.token.important {
	color: hsl(var(--alert-light));
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: hsl(var(--alert));
	text-decoration: line-through;
}

/*! purgecss end ignore */
