/*! PrismJS 1.11.0
http://prismjs.com/download.html?themes=prism-dark&languages=markup+css+clike+javascript+bash+css-extras+git+json+markdown+php+php-extras+scss */
/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */
/*! purgecss start ignore */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--muted);
}

.token.function,
.token.punctuation {
	color: hsl(var(--rotation) 50% 25%);
}

.token.namespace {
	opacity: .7;
}

.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--contrast-inverse);
}

.token.selector,
.token.attr-name,
.token.number,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.regex,
.token.important  {
	color: var(--alert);
}

.token.property,
.token.tag,
.token.boolean,
.token.constant,
.token.symbol,
.token.atrule,
.token.attr-value,
.token.keyword {
	color: var(--success-dark);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: var(--alert);
	text-decoration: line-through;
}

pre[data-line] {
	position: relative;
	z-index: 0;

	.token {
		position: relative;
		z-index: 2;
	}
}


.line-highlight {
	background: var(--disabled);
	inset-inline: 0;
	line-height: inherit;
	margin-block-start: 3rem;
	padding: .25em;
	pointer-events: none;
	position: absolute;
	white-space: pre;
	z-index: 1;
}

.line-highlight::before,
.line-highlight[data-end]:after {
	color: var(--contrast-inverse);
	content: attr(data-start);
	font-weight: 700;
	inset-block-start: .25em;
	inset-inline-start: .5em;
	min-inline-size: 1ch;
	position: absolute;
}

.line-highlight[data-end]:after {
	content: attr(data-end);
	inset-block-start: auto;
	inset-block-end: .25em;
}


@media screen and (prefers-color-scheme: dark) {
	.no-js,
	html:not([data-theme="light"]) {
		.token.function,
		.token.punctuation {
			color: var(--secondary);
		}
	}
}

@media print {
	.line-highlight {
		print-color-adjust: exact;
	}
}
/*! purgecss end ignore */
